[2014-09-25 14:21] rpiaggio opened #2 "Allow Html for radio buttons"
One possibility is to interpret the _2 in the list options as Html.

[2014-09-25 16:53] #2 closed, assigned to nobody

[2014-09-29 20:39] rpiaggio opened #3 "Option to display labels in inline forms"
Especially useful on controls with no placeholder (eg: date).

Thank you.

[2014-09-29 23:26] #3 closed, assigned to nobody

[2014-11-17 17:08] mkurz opened #4 "To escape or not to escape - that is the question"
In [b3FieldConstructorHorizontal.scala.html in line 17-18](https://github.com/adrianhurt/play-bootstrap3/blob/master/module/app/views/b3/horizontal/b3FieldConstructorHorizontal.scala.html#L17-L18) the help text is printend in raw format via `@Html()` and you use the syntax `case help: String =>`.

But in [b3FieldConstructorVertical.scala.html](https://github.com/adrianhurt/play-bootstrap3/blob/mas

[2014-11-17 17:51] mkurz opened #5 "Bug: Help text displayed twice when using with '_showConstraints -> true"
When using a field called `email` with some constraints (e.g. `@Required`, `@Email`, `@MinLength(3)`, etc.) and displaying this field with
`@b3.email(myForm("email"), '_label -> "Enter your E-Mail:", '_showConstraints -> true, '_help -> "This is a help text")` the help text gets displayed **twice** but **no** constraints help text is shown!
As soon as I remove the  `'help_ -> ...` text, only the c

[2014-11-17 18:56] #4 closed, assigned to nobody

[2014-11-18 00:39] #5 closed, assigned to nobody

[2014-11-18 16:20] mkurz opened #8 "value for password field should never be set"
Hi!

When using

[code]

and validation fails, then the password which was entered will be send from the server back to the browser which then stores it in the DOM.
This is very bad practice and should be avoided. There are many reasons for this, e.g. the page could get cached or someone could just walk away from the machine, leaving the browser open, believing everything is save (because he/she d

[2014-11-19 16:33] #8 closed, assigned to nobody

[2014-11-26 13:57] mkurz opened #10 "Please add buttons with 'reset' and 'button' types"
Hi!

The only button you provide is `@b3.submit`, which is a `<button></button>` of `type="submit"`.
Just now I wanted to add a "normal" button, but I would have to use `@b3.actions {...}` for this.

Suggestion:
We should add
`@b3.reset` which is a `<button></button>` of `type="reset"` and
`@b3.button` which is a `<button></button>` of `type="button"` (needs to be explicitly set, see [here](http:/

[2014-11-26 15:36] mirkof opened #11 "0-2SNAPSHOT renaming"
Hi,

We've been using your library for over a month now. And it's cool and simple. But our build just broke.

But when you adding new functionality, you need to create a new branch and name it. Not like this...

So, sorry to inform you, but we are switching to plays default helper and manually setting bootstrap.
That way, we know that the versions are stable and won't broke our app.

cheers!

[2014-11-26 17:27] #10 closed, assigned to nobody

[2014-11-26 22:56] mkurz opened #12 "Document how to add attributes with dashes (e.g. data-*)"
When you want to add a HTML attribute with a dash, it will fail. E.g. to add a HTML5 data attribute:

[code]

This will **fail** with a compiler error.

To make this work you have to use this import:

[code]

or add the import to the `build.sbt` so it is used in every template automatically:

[code]

Then you can write:

[code]

Now it works.

I think it would make sense to document this and point

[2014-11-26 23:59] mkurz opened #13 "Do NOT render _label when it is None"
# For horizontal forms:

When `_label` is `None` do **not** render the `<label>` element - instead use the `col-md-offset-*` class for positioning.
E.g. in http://play-bootstrap3.herokuapp.com/horizontal have a look at these lines:

[code]

As a sample lets look at what the first line of the above 3 becomes when it's rendered:

[code]

This is not the best solution as there is an empty `<label>`.

[2014-11-27 00:06] mkurz opened #14 "Add id's to the headings in the documentation"
Like in the official Bootstrap documentation it should be possible to directly jump to an heading/section of the documentation itself.
E.g. when going to http://getbootstrap.com/css/#forms-horizontal the browser directly takes me to the `"Horizontal form"` heading/section.

Please also add `id`'s to all the headings in your documentation, so we can easily jump to sections.
E.g. when going to http:

[2014-11-27 20:50] #12 closed, assigned to nobody

[2014-11-27 20:50] #14 closed, assigned to nobody

[2014-12-01 20:46] #11 closed, assigned to nobody

[2014-12-02 15:27] mkurz opened #15 "Document '_default for @b3.select"

[2014-12-03 16:18] #15 closed, assigned to nobody

[2014-12-08 12:04] #13 closed, assigned to nobody

[2015-01-07 19:19] thomaslhostis opened #17 "Field errors are printed in English"
Hi,

In a multilingual application, it seems that error messages are always printed in English.

Is it just me?

[2015-01-08 10:32] adrianhurt commented on #17
Hi @thomaslhostis,

I've checked it and it doesn't happen to me. Be sure that the implicit Lang object is present finally in the last template that calls the _b3_ helpers. Does it happen to you only for the helpers or also for other messages? For example, I've checked a simple form with a _required_ and _minLength_ constraints and call it like this:
[code]
The label should be shown in your selecte

[2015-01-08 10:41] adrianhurt commented on #17
Oops, no, forget that. You're right, the internal _Lang_ object is being missed. In my case it takes always the spanish one…

Ok, sorry for that. I think it happens only for infos (constraints) and errors. I'm now quite busy, but I'll try solve this issue in a couple of days.

Thanks for the issue!

[2015-01-08 11:26] thomaslhostis commented on #17
No problem. Thank *you* for this very nice work. I really have to learn Scala because I would love to contribute. Meanwhile, if I have any suggestions, where should I put it?

[2015-01-08 16:54] #17 closed

[2015-01-08 17:07] adrianhurt commented on #17
Hi again. I think it is already fixed. It was easier than I thought. If you have more suggestions you can open more issues or email me directly and we can discuss them. As you want. Every suggestion is always welcome! ;)

Thank you!

[2015-01-18 21:35] mkurz opened #18 "Do not render label in @b3.static when it is null"
E.g.

    @b3.static(null){
        something
    }

renders an empty `<label class="control-label col-md-X"></label>` instead of using the `col-md-offset-` approach.

[2015-01-19 01:06] #18 closed

[2015-01-19 01:13] adrianhurt commented on #18
Hi,

Now you can do:

[code]

Thanks!!

[2015-01-19 10:53] mkurz commented on #18
@adrianhurt Thanks!

[2015-01-21 13:50] mkurz opened #19 "Allow adding attributes to <option> elements of the @b3.select control"
I would like to add `data-*` attributes to each of the the `<option>...</option>` elements of the `@b3.select(...)` control.
But it seems it is not possible right now, because the `options` param has to be of type `Seq[(String,String)]` (for `value` and `label` only).

I want to have a result like:

    <select id="foo" name="foo" class="form-control">
        <option class="blank" value="">Select

[2015-01-21 16:33] adrianhurt commented on #19
Hi @mkurz,

Your case is particular. I think the better option is to create your own select helper. You simply need to copy the file `b3/select.scala.html` into a new one within your views folder (ex: `app/views/b3/my/select.scala.html`) and modify the `options` param to something like `Seq[(String, String, Int)]` and add these values to the `<option>…</option>`. You have more information to creat

[2015-01-21 19:35] mkurz commented on #19
@adrianhurt Thanks, I created my own helper.

[2015-01-21 19:35] #19 closed

[2015-02-06 10:25] philwills opened #22 "0.4 Release"
Hello,

I was wondering if there are any issues preventing a non-snapshot 0.4 release? Happy to try and chip in if there are any blockers, but can't see anything on the issues list.

Apologies for opening this as an issue, but didn't know how else to get in touch.

Thanks for the library, it's been really handy.

Phil

[2015-02-06 13:37] adrianhurt commented on #22
Thank you Phil. As you comment, there is no issues so I agree with you. It's the moment to release 0.4. In fact it's already released.

[2015-02-06 13:37] #22 closed

[2015-03-11 08:28] akkie opened #23 "Empty id attribute in formgroup"
Hi,

if I use a button as example:
[code]

then this produces a form group with an empty ID:
[code]

This problem occurs also with compounded fields (date range). Normally empty id attributes shouldn't be added, because this leads to validation errors.

Best regards,
Christian

[2015-03-11 14:26] #23 closed

[2015-03-11 14:26] adrianhurt commented on #23
Thank you @akkie. For the issue and specially for Silhouette! ;)

I've just fixed it in new 0.4.1-SNAPSHOT, or I hope so… Now the id is taken from `'_id` or `'id+_field` or it's hidden. So for your example it should take the value "search_field"

[2015-03-11 14:52] akkie commented on #23
You are welcome! Works like a charm! Thanks

[2015-03-30 07:59] mkurz opened #25 "'class -> "..." on form overrides bootstrap classes"
This form...

[code]
... renders to following HTML (here the vertical field constructor was used, but it does not matter which field constructor you use):
[code]

But now when adding a class to the form, the bootstrap `form-*` classes are missing (in my example it is `form-vertical`):
[code]
becomes:
[code]
As you can see only `myclass` gets used, but `form-vertical` is gone! Right now I have to a

[2015-03-30 16:16] adrianhurt commented on #25
Yeah, I think you're right.

[2015-03-30 18:01] #25 closed

[2015-03-30 18:02] adrianhurt commented on #25
Now it's fixed in 0.4.2-SNAPSHOT. Thanks!

[2015-03-30 18:09] mkurz commented on #25
@adrianhurt Thanks! Will try it soon.

[2015-04-09 12:20] AlesJiranek opened #27 "HashMap as select options"
Is it possible to use hash map as select options?

[2015-04-09 19:24] adrianhurt commented on #27
Hi @AlesJiranek. The only possibility is to use a `Seq[(String,String)]`, but you can use the `toSeq` function to convert a `Map[A,B]` to a `Seq[(A,B)]`.

[2015-04-10 12:46] AlesJiranek commented on #27
Oh, great, thank you, sorry for dumb question

[2015-04-10 12:46] #27 closed

[2015-04-10 13:07] adrianhurt commented on #27
Don't worry ;)

[2015-05-07 13:36] bjfletcher opened #28 "Constructor for global errors"
I'm wondering if people would be interested in having a constructor for global errors?  A Bootstrap-themed version of this (copied from Play documentation):

[code]

[2015-05-07 14:51] adrianhurt commented on #28
Hi @bjfletcher. Thanks for the proposal, but I think there is no standard way to do that. It depends on how you want to show your errors in your web. For example, I don't use any list but directly `alerts`
[code]
Without the need for the first test for `hasGlobalErrors` method. In fact, I don't use directly this `alert`, but also a custom tag (like `@alert("error", msg)`). There are many ways to s

[2015-05-07 15:46] bjfletcher commented on #28
@adrianhurt, actually that what you wrote there is exactly what I used. Perhaps worth putting this in the documentation and making sure it has "global" and "error" for those who Google?

[2015-05-08 23:06] mkurz opened #29 "Play 2.4.0 support"
Hi!

Play 2.4.0 RC2 was released already.
Could you please also release a snapshot or milestone with Play 2.4 support?

Thanks!

[2015-05-10 11:27] adrianhurt commented on #29
Hi @mkurz, I've just released version 0.4.2 as it was, and 0.4.3-SNAPSHOT that for the moment it's built with new Play 2.3.9, jQuery 2.1.4 and Bootstrap 3.3.4.

During this week I will try to start another SNAPSHOT for Play 2.4.0

[2015-05-11 00:48] adrianhurt commented on #29
It's done. I've split the project in two versions:
* 0.4.3-SNAPSHOT for Play 2.3.9
* 0.4.3-P24-SNAPSHOT for Play 2.4.0-RC2

You can see it in the documentation web page.

Please, try it to test it works (for the sample subproject is now working well)

[2015-05-11 01:09] adrianhurt commented on #28
Sorry, but I don't think it is enough general to include it as a helper. And it is explained within the first page about [Handling form submission](https://www.playframework.com/documentation/2.3.x/ScalaForms#Displaying-errors-in-a-view-template) in the official Play documentation.

But you can create your own helper as it is explained in docs and use it like `@b3.showGlobalErrors(myForm)`.

In fa

[2015-05-11 12:59] mkurz commented on #29
Thanks! I will upgrade a project to 2.4 this week hopefully, I will let you know if I run into some problems.

[2015-05-11 15:07] #28 closed

[2015-05-11 15:07] adrianhurt commented on #29
Thanks

[2015-05-11 15:07] #29 closed

[2015-06-11 08:14] mkurz opened #32 "ambiguous implicit values when creating own helpers"
I am using a Play Java project.

I followed the instructions [here](http://play-bootstrap3.herokuapp.com/extend-it#create-helper) to create my own email helper. I created the **exact same** file `app/views/b3/my/email.scala.html` like you described in the docs.
Running the app gives me:
[code]

Whats the problem and how to work around? (Likely this only occurs in Java Projects?)

[2015-06-12 09:30] adrianhurt commented on #32
Sorry for the delay. I've just tried it and you're right. It seems it only happens with Play 2.4 and Java. I'm now busy but I will find the problem as soon as possible.

[2015-06-12 13:47] mkurz commented on #32
I think this happened with Play 2.3 already as well.

[2015-06-12 20:49] adrianhurt commented on #32
I've just tested it with [the first Java tutorial](https://www.typesafe.com/activator/template/play-java-intro-reactive-platform-15v01) with Play 2.3 and the last snapshot of _play-bootstrap3_ and it works fine.

For Play 2.4 it seems to work simply removing the implicit `Messages` argument from your custom template. This `Messages` argument will be taken from the `PlayMagicForJava` object.

I'm n

[2015-06-12 21:19] mkurz commented on #32
Thanks for your answer,  so I will just remove the `Messages` argument then.
Thanks!

[2015-06-15 22:34] adrianhurt commented on #32
I've added a clarification in the docs page

[2015-06-15 22:34] #32 closed

[2015-06-19 19:12] rtyley commented on #29
Could you make a non-snapshot release of the Play 2.4 support? I'm using `0.4.4-P24-SNAPSHOT` right now, it works great and much appreciated! Here it is being used in [_submitGit_](https://submitgit.herokuapp.com/):

![image](https://cloud.githubusercontent.com/assets/52038/8261019/32b42366-16bf-11e5-9b47-5151e6547191.png)

[2015-06-21 14:25] adrianhurt commented on #29
Hi @rtyley . Versions __0.4.4-P24__ and __0.4.4-P23__ are now released.

[2015-06-21 15:43] rtyley commented on #29
Thanks @adrianhurt !

[2015-07-10 19:09] MagnusAk78 opened #34 "Using list / repeat in play-bootstrap3"
"help wanted"

This is really just a question (not necessarily an issue) but I can't find a way to just send a message...

How do I use the list / repeat functions that "normal" play helpers support together with the b3 helpers?

btw. I really like the play-bootstrap3 project, thanks for sharing!

[2015-07-10 23:13] #34 closed

[2015-07-10 23:14] MagnusAk78 commented on #34
I realised that this is not relevant to solely play-bootstrap3 but a more general play issue.

[2015-07-11 14:26] adrianhurt commented on #34
Hi @MagnusAk78. Yes, it is a general doubt about Play, not this plugin. It should works as it is explained at the Play docs, but using b3 helpers when needed.

[code]

[2015-07-15 15:47] adis-me opened #35 "Add examples to use @b3.radio with boolean properties?"
Are there any examples how to use `radio` or `checkbox` with boolean properties? In the documentation I can read that the radio and checkbox only have `Seq[(String, Any)]` and thus not allowed to pass boolean.

Btw: I am using your lib a Java project...

[2015-07-15 16:24] adis-me commented on #35
Hmm perhaps I solved it by extending, is this correct to use:
[code]

[2015-07-15 16:58] adrianhurt commented on #35
Sorry, but I don't understand you. A `checkbox` will work with `value="true"` as default, and a `radio` uses a `Seq[(String, Any)]`, so you could use simply something like `Seq("true"->"True","false"->"False")`.

_Play_ will handle the `true` and `false` strings as the corresponding boolean.

Then, the following code
[code]
will be rendered as:
[code]

[2015-07-15 18:15] adis-me commented on #35
@adrianhurt Yes it works like you described. I did not know that `Seq("true"->"True","false"->"False")` will work because of the signature `Seq[(String, Any)]`.

I tried the following but that did not worked for radio inputs: `Seq("1"->"True","0"->"False")`.

I will close this issue since the real problem is my Scala knowledge :laughing:

[2015-07-15 18:15] #35 closed

[2015-07-15 18:37] adrianhurt commented on #35
Don't worry ;) And yes, I think you had a little confusion but not with Scala. Note that everything will be finally rendered as a simple `String` for `HTML`. That's the reason to use `(String, Any)` values (where any `Any` value will call its `toString` function.

[2015-08-04 16:37] thomaslhostis opened #36 "Input type "file" shouldn't have a "form-control" class"
Hi everyone,

There's only one example of an input type file in the Bootstrap documentation, and it does not have a "form-control" class. And this class is not applied to radios, checkboxes, nor selects. So it's easy to bypass this by setting the b3.file class to "", like this:

    @b3.file(form("file"), 'class -> "")

Would it be right to just not apply this class to this type of input?

[2015-08-04 17:17] thomaslhostis opened #37 "Reduce input size without impacting the div that contains it"
Hi again,

This is not an issue. As the title says, I want to limit the size of an input in a horizontal form, without reducing the size of the div that contains it, because it can contain help blocks that shouldn't be cut in width.

See:
![screen shot 2015-08-04 at 18 50 52](https://cloud.githubusercontent.com/assets/4296630/9066857/3b908828-3ada-11e5-8279-119380023de1.png)

As you can see in thi

[2015-08-04 20:31] adrianhurt commented on #36
I agree with you. It's changed from new 0.4.5-P2X-SNAPSHOT version

Thanks!

[2015-08-04 20:31] #36 closed

[2015-08-04 21:50] adrianhurt commented on #37
Hi @thomaslhostis. If you want to resize only the input you could do one of this possibilities:

* Use style as you did, but it's not the more elegant way.
[code]
* Use a custom class and set its width in your css.
[code]
If any of them satisfy your requirements, then the problem is that the default horizontal one described in Bootstrap 3 doesn't fits you. In this case, check the [Extend it!](http

[2015-08-05 14:04] thomaslhostis commented on #37
Creating a custom field constructor will do perfectly fine. I was kind of hoping there was a quicker way to do it as it is a small requirement. But the library is great, so it's quite straightforward.

Thanks mate

[2015-08-05 14:04] #37 closed

[2015-08-06 12:20] mkurz commented on #36
@adrianhurt
Just a suggestion: Could you please use a own commit for changes like this? Because now you put the changes suggested by thomaslhostis into the "0.4.5-P24-SNAPSHOT" commit, which makes it hard to track changes of the project. I think the "0.4.5-P24-SNAPSHOT" should just contain the changes to the `build.sbt` etc. but the change here should be it's own commit. Also this makes it much mo

[2015-08-06 12:48] adrianhurt commented on #36
Ok, you're right. I'll try to do these things better :) In any case, everything relevant is documented within the [changelog page](http://play-bootstrap3.herokuapp.com/changelog)

[2015-08-06 12:52] mkurz commented on #36
Thanks

[2015-08-06 12:53] mkurz commented on #36
@adrianhurt One more thing: The changelog on http://play-bootstrap3.herokuapp.com/ (the first page) is not update to date.

[2015-08-06 12:58] adrianhurt commented on #36
Yes, I prefer not to put the Snapshots into the first page, because they're in development. Specially when the changes from the last version are not very relevant.

[2015-08-06 12:59] mkurz commented on #36
OK - makes sense :smile:

[2015-08-06 13:04] adrianhurt commented on #36
Thanks. It's great to know the library it's useful for more people than me! :smile:

[2015-08-06 13:06] mkurz commented on #36
It sure is :+1:

[2015-08-24 10:01] mkurz opened #38 "'class -> "..." on controls overrides bootstrap classes"
E.g. when writing
[code]
then **NO** `form-control` class is rendered.
As a fix I have to write
[code]
I suggest @b3.* controls always should add the corresponding bootstrap `form-control` class, no matter if we define 'class -> "...".

Also see #25 which is similar (it was for `<form>` tags).

[2015-08-27 20:07] adrianhurt commented on #38
Sorry for the delay. I'll try to have it tomorrow or during this weekend. Thanks

[2015-08-27 23:09] adrianhurt commented on #38
Ok, it was easier than I thought. It's fixed for the last snapshot. Now I will have to start thinking about Bootstrap 4...

[2015-08-27 23:19] #38 closed

[2015-09-16 13:42] mkurz opened #39 "Please add support for optgroup"
See here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup

What do you think?

[2015-09-16 15:36] adrianhurt commented on #39
I like it. But how could be the signature for that version `b3.select`? Something like this?

[code]

It's hard to understand and fill in. Seeing that example of `optgroup` I've realized the library now doesn't allow to disable some of the options. So maybe we could create auxiliar helpers for `option` and `optgroup`. Like this:

[code]

And the same for `b3.radio`…

What do you think?

I'll go on

[2015-09-16 15:46] adrianhurt commented on #39
In fact, the 'b3.selectOptionGroup` would be unnecessary.

[code]

[2015-09-30 21:53] adrianhurt commented on #39
It's now implemented within the last SNAPSHOT. You can check it at the docs page.

[2015-10-01 14:30] mkurz commented on #39
@adrianhurt I am running into a **bug**:

I did not change my code at all, but after upgrading to the latest snapshot I am getting an exception:

[code]

I think the problem is [here](https://github.com/adrianhurt/play-bootstrap3/blob/master/module/app/views/b3/selectWithOptions.scala.html#L2) and [here](https://github.com/adrianhurt/play-bootstrap3/blob/master/module/app/views/b3/radioWithOptions

[2015-10-01 14:44] adrianhurt commented on #39
Mmm, sorry for that. Give me a while...

[2015-10-01 14:45] mkurz commented on #39
Thanks, it would be cool if you could fix that soon, because our build is broken right now because of this issue... (I know depending on a snapshot isn't a good thing to do...)

[2015-10-01 15:13] #39 closed

[2015-10-01 15:15] adrianhurt commented on #39
I think it should be ok now. It could take a while to refresh the code from maven. Please, check it again and tell me if it's fixed. If not, reopen again the issue and tell me...

[2015-10-05 14:55] mkurz commented on #39
Look like it is fixed. If I run into any other issue I will let you know.
Thanks!

[2015-10-06 11:14] mkurz commented on #39
@adrianhurt I ran into another bug:
When adding `'_default -> "Select an option"` to the new `@b3.select(...) { ... }` it does not work.
Example from your documentation with the `_default` option:
[code]
`"Select an option"` is not available - it *should* be the first item in the list!

[2015-10-06 11:19] mkurz commented on #39
And one completely different thing:
Do you think it would make sense to add a very simple helper tag `@b3.optGroup`?
Example:
[code]
What do you think? It would be a very "stupid" tag, just to avoid typos and also type less :smile:

[2015-10-06 11:28] mkurz commented on #19
Hi!
Just in case someone is interested and will read this:
Thanks to #39 you don't need to write your own custom helper anymore.
You can now write:
[code]

[2015-10-06 12:16] adrianhurt commented on #39
Mmm, definitively I have to correct this. However I'm not sure if it should work as you say (and I thought the first time) or if I should correct the docs to indicate that '_default doesn't really add the default option and it's only to give the ability to add a default input for readonly selects… It's a bit tricky, because the reason to implement this new version of `b3.select` is to give the abi

[2015-10-06 12:17] adrianhurt commented on #19
Exactly! :+1:

[2015-10-07 17:38] mkurz commented on #39
@adrianhurt my thoughts:
I think we should keep the `'_default` for **all** sorts of `b3.select` (also the new one) - not just the readonly one.
Why?
For example in your docs you have
[code]
How would you add a default now?
You would have to write
[code]
But I think this is not a very good approach. What if `fruits` come from the database or a Java enum? You do not store a value `Select an option`

[2015-10-08 16:52] adrianhurt commented on #39
Mmm, I see your point. However I'm not sure if I totally agree… For me, in the example the `fruits` value  would be usually taken from a database, enum or whatever that gets you a list of fruits. But what you are passing to `b3.select` is a list of option that an user can choose, and the first option is not a fruit. I suppose we could write:

[code]

In fact, I see another problem. There are two d

[2015-10-11 13:27] mkurz commented on #39
Hi!
What about naming the option `'_firstItem` or `'_firstOption` or `'_firstEntry` in the new version (for Bootstrap 4)? So a unique name no matter it is used for the "prompt label" or the "default" (the valid one) one?
However could you for now add the `_default` to all the `b3.select` versions please?

And yes, I think renaming the project to `play-bootstrap` would be a good idea when Bootstrap

[2015-10-12 14:04] mkurz opened #40 "static control misses sr-only class when '_hideLabel -> true"
Hi!

[code]
The class `sr-only` is missing. The label is still displayed.

[2015-10-12 17:34] #40 closed

[2015-10-12 17:36] adrianhurt commented on #39
Hi @mkurz. It's done

[2015-10-12 17:36] adrianhurt commented on #40
Done with last snapshot

[2015-10-12 21:18] mkurz commented on #39
@adrianhurt Thanks, it works!

What do you think about releasing a new stable version with all the latest changes?

[2015-10-12 21:18] mkurz commented on #40
Thanks!

[2015-10-12 21:26] adrianhurt commented on #39
Yes, I'll do it. But I prefer to wait for a while to be sure there is no more bugs.

[2015-10-12 21:31] mkurz commented on #39
Thanks!

[2015-10-28 21:34] mribeiro opened #41 "Bootstrap theme is not the same on the heroku and bootstrap's page"
I'm using this plugin with Play!2.

I add the dependencies with:

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.min.css")">
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javasc

[2015-10-28 22:28] mribeiro commented on #41
I feel so ashamed.
Just remove the theme import... Sorry!

[2015-10-28 22:28] #41 closed

[2015-11-19 15:48] adrianhurt commented on #39
I finally released it. Sorry for the delay…

[2015-11-19 16:07] mkurz commented on #39
@adrianhurt Thanks!

[2015-11-23 19:59] arisolucion opened #42 "Plugin 0.4.5-P24 snapshot not found since Nov, 19"
Building a Play 2.4 application with the 0.4.5-P24-SNAPSHOT started to fail since today. I've checked and it looks like the Jar is not available anymore at Sonatype repo:
https://oss.sonatype.org/content/repositories/snapshots/com/adrianhurt/play-bootstrap3_2.11/

Since today I started getting:

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES

[2015-11-23 20:06] adrianhurt commented on #42
Hi, it seems that every SNAPSHOT is deleted automatically when it's final version is released. I didn't know… I suppose you had it in cache during these days. Anyway, you can simply use the version __0.4.5-P24__, without the "-SNAPSHOT". It's exactly the same code as before.

[2015-11-23 20:12] arisolucion commented on #42
Hi! thank you very much for this plugin and the quick reply. Just to let you know that your suggestion worked. I've removed the -SNAPSHOT and now it compiles correctly again.
Thanks again!!!

[2015-11-23 20:16] adrianhurt commented on #42
You're welcome!

[2015-11-23 20:16] #42 closed

[2016-01-13 20:26] iAmcR opened #44 "Not working with playframework Java 2.4.6?"
The modules directory from the play framework website said that this works for Java or Scala.

I tried to get this to work in twirl templates in play java framework 2.4.6 and I'm getting compilation errors asking me to change a lot of the parameter types in the field constructors or package.scala files to Java types.

Could you kindly explain how to fix?

Thanks.

[2016-01-16 22:40] thomaslhostis opened #45 "HTML5 data form validation - Password max length"
Your HTML5 data form validation is a great feature. There is only one case where, in my experience, it shouldn't apply. When a user defines a password, if the password is longer than the input field can contain, the user won't be able to see that his input is being truncated, *if you set a max length*.

![screen shot 2016-01-16 at 23 19 55](https://cloud.githubusercontent.com/assets/4296630/123747

[2016-01-18 12:03] adrianhurt commented on #44
Hi, @iAmcR. Could you give me an example or more details? I always use the Scala version of Play but I'm trying it now with Java and it seems to work, but with a very easy example.

[2016-01-18 17:24] adrianhurt commented on #45
Hi @thomaslhostis. I'm not really sure…

Thinking about this, anyway, I've just released a simple fix to be able to get rid of any constraint value in templates if you need it. You can now set `'maxlength -> false` and it will not render it (but the controller will complaint while handling the form). With that, it's very easy to add this default argument only for the `password` helper. But I'm not

[2016-01-18 17:32] thomaslhostis commented on #45
I agree. To answer your question: it wouldn't be the same with pattern matching because it wouldn't prevent the user from typing anything.

Thank you

[2016-01-18 17:32] #45 closed

[2016-01-18 23:13] iAmcR commented on #44
Hi, @adrianhurt. Yes will do.

Just to be sure, I used the play-java-intro sample project (http://www.typesafe.com/activator/template/play-java-intro).

1) I imported the libraries via sbt (build.sbt):

resolvers += "Sonatype OSS Snapshots" at "https://oss.sonatype.org/content/repositories/snapshots/"

libraryDependencies ++= Seq(
  "com.adrianhurt" %% "play-bootstrap" % "1.0-P24-B3-SNAPSHOT",
  "

[2016-01-18 23:34] adrianhurt commented on #44
Hi, I'm not have time right now to try this template now, but seeing your steps try to:
* There's no need for "step 2". You don't have to copy manually any code from my github repository. The code is automatically added by "step 1".
* Try this code (or something similar) for "step 3":
[code]

[2016-01-19 01:06] iAmcR commented on #44
Hi, @adrianhurt

Changing the example code wasn't the fix.

However, thanks for pointing out "no need for step 2". I thought it was necessary since I was getting a cannot find package b3 error. I removed it, then did a sbt clean, which seem to fix it for this code.

I'll try more complex forms and update you.

Thanks again.

[2016-01-31 20:49] mkurz opened #46 "Play's own select tag changed"
Hi @adrianhurt

Please have a look at:
https://github.com/playframework/playframework/pull/5399
It changes Play's own `@helper.select(...)` tag

Does this change somehow influence play-bootstrap? Do you use the Play helper tags?
If not, just close this issue.

[2016-02-01 11:43] adrianhurt commented on #46
Thanks to notify me! But don't worry. I used the Play helper tags as a reference, but I don't use their codes.

[2016-02-01 11:43] #46 closed

[2016-02-01 11:44] adrianhurt commented on #44
Hi @iAmcR, I close the issue, but feel free to reopen or open a new one when you have any other problem.

[2016-02-01 11:44] #44 closed

[2016-02-01 13:23] iAmcR commented on #44
Hi, @adrianhurt

No worries. I actually just started using it on more complicated forms - so far so good.

Thank you.

[2016-02-12 11:45] Langstra opened #48 "Issue with file uploads and CSRF"
`@b3.formCSRF(action = routes.Employees.save_import(), 'enctype -> "multipart/form-data") {

                <div class="form-group" id="picture_field">
                    <label for="picture">picture</label>
                    <input type="file" name="picture" id="picture" value="">
                    <p class="help-block">Upload picture.</p>
                </div>

                <input type

[2016-02-12 11:57] adrianhurt commented on #48
Hi @Langstra, could you try this?
[code]
Thanks!

[2016-02-12 12:00] adrianhurt commented on #48
Sorry, this
[code]

[2016-02-12 13:01] mkurz opened #49 "[ClassCastException: java.lang.String cannot be cast to scala.Function0]"
I use the latest snapshot (1.0-P24-SNAPSHOT) with BS3.

I have a form field named "zip" (part of an address).
When I write
[code]
I get:

[code]

When I change it to "zip1" or something differnt it works.

[2016-02-12 13:04] mkurz commented on #49
I am not sure if it is my fault because I use my own Data Binders.

[2016-02-12 13:08] adrianhurt commented on #49
Hi @mkurz, could you try using `@helper.inputText(myForm("zip"), ...)` instead? This will tell us if it's a problem of the library or not.

[2016-02-12 13:16] mkurz commented on #49
`@helper.inputText(myForm("zip"))` works.
`@b3.text(myForm("zip"))` does not work.
Problem is your library.

[2016-02-12 13:18] mkurz commented on #49
This is the declaration of the field in the form:
[code]

[2016-02-12 13:24] mkurz commented on #49
I am using Java not Scala.

[2016-02-12 13:26] mkurz commented on #49
This is probably because of the HTML 5 constraint stuff you have been adding with the last commits.

[2016-02-12 13:38] mkurz commented on #45
So for password fields the max length constraint is still set?
Do I have to disable it by hand?

[2016-02-12 13:41] Langstra commented on #48
Thanks for your response. Your solution worked, however, the formCSRF is designed for this I think. Are there good reasons not to do this in the formCSRF tag?

[2016-02-12 14:18] adrianhurt commented on #49
Ok, I see, you're right. It seems it doesn't happen in Scala, but it does with Java using the pattern constraint. Thank you for finding the bug. I'll try to find out what's happening and fix it as soon as possible.

[2016-02-12 14:22] mkurz commented on #49
Thanks!

[2016-02-12 14:22] adrianhurt commented on #48
Thanks for find the bug and solve it :stuck_out_tongue_winking_eye: . No, there is no reason, I just wanted to check your proposed solution. I'll fix it quickly

Thanks!

[2016-02-12 14:23] Langstra commented on #48
Cool, great to see that this plugin is supported so well. Great job!

[2016-02-12 14:43] #48 closed

[2016-02-12 14:45] adrianhurt commented on #48
Thanks! It's fixed now, but maybe it could take a while to be updated at the snapshot's repository. Try in a while and don't forget to clean your project to be sure the library is refreshed.

[2016-02-12 14:55] adrianhurt commented on #45
I'm not sure what you mean. For a password field, you can choose to add a max length constraint within your controller, and it will be rendered automatically in your view by `@b3.password` as normal. But if you want to have a max length constraint in your controller but not in your view, you could do it adding `'maxlength -> false` to your `@b3.password` (it works for any constraint and helper).

[2016-02-12 21:11] mkurz commented on #45
Thanks, I will use `'maxlength -> false`.

[2016-02-13 12:38] #49 closed

[2016-02-13 12:39] adrianhurt commented on #49
Hi, it's fixed now. I didn't know that Java and Scala versions give a different type result for the pattern constraint.

[2016-02-13 13:23] mkurz commented on #49
Thanks! I will try on Monday.

[2016-02-15 09:17] mkurz commented on #49
Thanks @adrianhurt! I works now.
Thank you for you fast reponses and for your first class support for this library :+1:

[2016-02-19 18:21] achaiah opened #50 "PlayJava version of library?"
Would you be able to make a copy of this library that compiles with "enablePlugins(PlayJava)" rather than "enablePlugins(PlayScala)"?  I tried it myself but I don't have enough experience with sbt to resolve all the compilation issues.

This would be very helpful to people who are creating Play java projects but are using a different build tool (e.g. gradle). Otherwise, there are compilation issue

[2016-02-20 01:27] adrianhurt commented on #50
Hi @achaiah. Sorry but I don't understand what you exactly need. The library should work in a Play Java project (with `enablePlugins(PlayJava)`) without problems importing it with:
[code]

Do you need a version to integrate the code directly within your project and without `libraryDependencies`? I only work with Scala so I'm not very sure, but I think Play understands Java and Scala files independ

[2016-02-20 02:49] achaiah commented on #50
Hi,

Thanks for your reply. I'm trying to use play with gradle to simplify the building process and it mostly works fine. Where I run into issues is that play-bootstrap uses play.api.i18n.Messages in core-play24/app/views/bs/package.scala and play24-bootstrap3/... and unfortunately that creates compilation issues when trying to use play-bootstrap inside a java project (when used with gradle).

I a

[2016-02-20 11:43] adrianhurt commented on #50
I don't really know… I have seen this https://www.playframework.com/documentation/2.4.x/JavaI18N#Use-in-templates. Maybe you can use the Scala Messages in your code...

[2016-02-20 12:01] adrianhurt commented on #50
Looking a bit the docs of gradle… Can't you adding the library as a normal dependency? Look at section "71.8.2. Adding dependencies" here https://docs.gradle.org/current/userguide/play_plugin.html. Maybe you can add it with:
[code]

[2016-02-22 14:52] achaiah commented on #50
Yup, that's exactly what I did -- I added your library as a dependency. The trouble comes when the play framework forms are compiled. The elements in your project (e.g. `play24/app/views/bs/package.scala`) expect a `play.api.i18n.Messages` object but when a Java-based view is generated (e.g. when one calls `return ok(views.html.profile.render(formName))`) a `play.i18n.Messages` is passed into the

[2016-02-22 15:54] adrianhurt commented on #50
I have this within the "Multifield" and "Extend it!" sections in the docs. Have you tried it?

From Play 2.4, the implicit Messages argument defined in your custom template collides with the implicit one taken from PlayMagicForJava object, and it raises a compilation error. So you only need to remove this implicit argument from your custom template.

[2016-02-22 17:09] achaiah commented on #50
Ok that's interesting. The forms I'm trying to compile are from this seed: [PlayAuthenticate with Morphia](https://github.com/esfand-r/Play2.3-Spring-PlayAuthenticate-deadbolt2-and-mongo-with-morphia).  So looking at this [Password form](https://github.com/esfand-r/Play2.3-Spring-PlayAuthenticate-deadbolt2-and-mongo-with-morphia/blob/master/modules/web/app/views/_passwordPartial.scala.html), for e

[2016-02-22 17:43] adrianhurt commented on #50
Ok, so I understand now this is a problem with Play Java and not for gradle, isn't it? As I told you I don't really know how Play Java works, but as far as I know, every template in Play Java takes a `play.api.i18n.Messages` thanks to [PlayMagicForJava. implicitJavaMessages](https://github.com/playframework/playframework/blob/master/framework/src/play-java/src/main/scala/play/core/TemplateMagicFor

[2016-02-22 18:02] achaiah commented on #50
Well, the issue with gradle is that while I cannot compile it with gradle, I can compile it with sbt when I specify `enablePlugins(PlayJava)` in the build script. There is something "magical" that got broken in Play 2.4 release that doesn't allow gradle to perform the same magic as the sbt plugin.

But... it seems like we've almost found a work-around! So in that Password Form I now have a declara

[2016-02-22 18:05] achaiah commented on #50
Oh, I think I got it...or at least it compiles now :)

`@b3.password(PlayMagicForJava.javaFieldtoScalaField(f("password")), '_label -> "")(implicitly[b3.B3FieldConstructor], PlayMagicForJava.implicitJavaMessages)`

[2016-02-22 18:15] adrianhurt commented on #50
Ok, then try this:
[code]

Then, you could simplify your syntax for every helper declaration.

Is it necessary to add `PlayMagicForJava.javaFieldtoScalaField`? If so, maybe you can import it in every template (`@import PlayMagicForJava.javaFieldtoScalaField `).

Anyway, then I think this is a `PlayMagicForJava` issue. It should be imported automatically but it's not. So now that you have localized

[2016-02-22 20:10] adrianhurt commented on #50
or better, maybe something like this could work for you:
[code]

[2016-02-22 20:29] achaiah commented on #50
Hmm interesting, I'll try that!

[2016-02-23 16:17] achaiah commented on #50
So I've played around with it for a bit. If I just use the import statements it compiles in gradle but not in sbt (sbt complains about ambiguous implicit input). But something like this:

`@b3.password(PlayMagicForJava.javaFieldtoScalaField(f("password")), '_label -> "")(implicitly[b3.B3FieldConstructor], PlayMagicForJava.implicitJavaMessages)`

will compile in both.  Looks like something got chan

[2016-02-23 16:17] #50 closed

[2016-02-23 18:54] adrianhurt commented on #50
You're welcome!

[2016-03-05 15:03] mkurz opened #53 "Play 2.5 support"
Hi! Play 2.5 was released yesterday.

[2016-03-06 00:38] mkurz commented on #53
Notes for 2.5:
sbt version is now 0.13.11
Scala 2.10 was dropped, Scala version should be 2.11.7 only.

[2016-03-06 18:29] adrianhurt commented on #53
Thanks. I'll check it as soon as possible.

[2016-03-19 16:38] daddykotex commented on #53
Thanks for the library, if you need any help, I'd be glad to help.

[2016-03-20 16:56] #53 closed

[2016-03-20 17:44] adrianhurt commented on #53
Thanks for your proposition, @daddykotex. I appreciate that. For the moment, my intention is to simply maintain the library, so I hope to have enough time to do it. But I'm open to receive any PR for new features if they are interesting.

I've just uploaded the new versions __1.0-P5-B3-SNAPSHOT__ and __1.0-P5-B4-SNAPSHOT__. I'll update the docs as soon as possible.

[2016-03-21 16:58] andrefbmaximino opened #55 "How can i load values dynamically to a b3.select?"
How can i add values to a select dynamically? I need to load the values to a select based on the values of another select box. How can i load values to the select, with the JSON that i receive in the AJAX call?

[2016-03-21 18:18] adrianhurt commented on #55
Hi, this is not a question for this library. You can do this using AJAX as usual. For example, if you are using jQuery, you can see information here:
https://www.google.es/search?q=jquery+populate+select+list+from+json

[2016-03-21 18:18] #55 closed

[2016-04-05 14:12] daddykotex opened #56 "checkbox value is always true"
Maybe I'm doing something wrong but I can't figure out what:

[code]
Translates to:
[code]

If I add the readonly option, the hidden field will have the correct value:
[code]

If you can confirm this is a bug, I'd be glad to fix it and submit a PR.

Thanks for your work by the way.

[2016-04-05 16:05] adrianhurt commented on #56
Hi @daddykotex. Which version are you using? In my case, I get the following for the first case:

[code]

[2016-04-05 18:33] daddykotex commented on #56
Thanks for the quick reply:
[code]
along with play 2.4.6: `addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.4.6")`

[2016-04-05 18:50] adrianhurt commented on #56
Then, this is not a bug. You can see the documents of that version (here)[http://adrianhurt.github.io/play-bootstrap/0.4.5-P24/docs/#helper-checkbox]. The custom value for checkboxes is a feature for version 1.0. For earlier versions the value can be "true" or "false".

You can try with version 1.0-P24-B3-SNAPSHOT

[2016-04-05 18:50] #56 closed

[2016-04-05 19:16] daddykotex commented on #56
Oh my bad, I was looking at the wrong doc page... It's my bad, thank you very much

[2016-04-06 03:45] daddykotex commented on #56
Another question while I'm at it, I've updated to 1.0 and now I can see the correct value being assigned but the form is always filled. I am probably missing something but why is it like that?

I would like to build a a table and put a checkbox in each row to allow an action to be performed on the selected rows, I thought about the checkbox with a value equals to the id of the entity show in the r

[2016-04-06 14:02] adrianhurt commented on #56
You're right, I think the behavior is not the more logic one. The problem here is that we have to decide the correct value of `checked` depending on:
* a default value
* the filled value
* a possible forced value (not default)

I think I will release this version as it is, and then resolve this issue in a next version 1.1 or 1.0.1.

One possibility is:
* `'value` only sets the value, not checked a

[2016-04-07 12:35] daddykotex commented on #56
Ok, I like the idea.

Maybe I just don't understand how I should implement my use case. The checkbox is definitely the input type I'm looking for, but maybe my form field is incorrect. I currently use:
[code]
and I build my form like that:
[code]

In my controller I received the list of selected ids. Can you think of a way I could you your helper to avoid having all of my fields checked by default

[2016-04-07 15:02] adrianhurt commented on #56
Yes, you're right. It's an error of the library. I thought, you could write:
[code]
But it doesn't works.

It's not still documented but you can now try with new version 1.1-P24-B3-SNAPSHOT. For now it's exactly the same but now you can:
* Set a default checked with `'_default`.
* Force the checked value directly with `'checked`.
* Now `'value` argument is totally independent from `checked` attrib

[2016-04-07 15:51] adrianhurt commented on #56
I've just added version 1.1 to the docs. You can see these changes [here](http://adrianhurt.github.io/play-bootstrap/1.1-P24-B3/docs/#helper-checkbox).

[2016-04-08 00:31] daddykotex commented on #56
Thank you so much again! :+1:

[2016-04-15 02:37] LubomirKovalcik opened #57 "B3.email - error message wrong css?"
Hello,

if email input has some error message to display ,it resize email icon.
Example:

![errorbootstrap](https://cloud.githubusercontent.com/assets/15881431/14549831/c89b163c-02c3-11e6-9bda-e8611ddd7ee4.png)

[2016-04-15 10:39] adrianhurt commented on #57
Hi @LubomirKovalcik.

I can't help you without the code you are using, but it should work with this:

[code]

You can see more information [here](http://adrianhurt.github.io/play-bootstrap/1.1-P25-B3/docs/#your-inputwrapped) and [here](http://adrianhurt.github.io/play-bootstrap/1.1-P25-B3/extend-it/).

You have a problem with your HTML structure. Maybe are you using `@b3.email` helper inside the `

[2016-04-18 11:52] #57 closed

[2016-05-09 16:36] Selsynn opened #58 "Multi checkbox with value from Form"
I use v1.0 for play 2.4 and Bootstrap 3.

I have an array of checkbox of name transports[id] and value id, but I can't find how to check or not check the value from the form value.
The choices displayed by the checkbox is from a model transports where there is an id and a name (text value).

I tested
views :
`@b3.checkboxgroup(
  transports.map {
    case ((id, name)) =>  (searchForm(s"transports[

[2016-05-09 17:34] adrianhurt commented on #58
Hi @Selsynn. Try using a boolean value for `'value` (i.e. the default behavior). This is a simple example, but it works for me:

[code]

[code]

(And don't worry for your English at all, it's perfectly understandable. At least for another non-English speaker)

[2016-05-09 19:01] adrianhurt commented on #58
By the way, this also works:

[code]

[code]

[2016-05-10 09:14] Selsynn commented on #58
Thanks for your prompt answer. I think I understand what I didn't understand correctly the first time around.

[2016-05-10 17:26] adrianhurt commented on #58
Then is it solved?

[2016-05-12 09:52] #58 closed

[2016-05-26 20:00] adis-me opened #59 "Selected attribute with invalid values"
In one of your examples you are using the following code:

[code]
This renders:

[code]
But according to the [W3Spec](https://www.w3.org/TR/html5/infrastructure.html#boolean-attribute) a boolean attribute does not allow the values `true` or `false`. But Firefox and Safari do allow this and they render it correctly, Chrome also with `<optgroup>`.

I think it should be:
[code]
or
[code]
See also [St

[2016-05-26 20:06] adis-me commented on #59
Never mind, I saw the [source](https://github.com/adrianhurt/play-bootstrap/blob/master/play25-bootstrap3/module/app/views/b3/selectOption.scala.html).

The boolean value is just the result of the expression. Pff lack of Scala knowledge 😄

[2016-05-26 20:06] #59 closed

[2016-05-28 09:35] sallareznov opened #60 "Compilation error: not found: value b3"
Hi,
I just started to use your library but I'm having a compilation problem. I use `Play Framework` in its 2.5 version, and I added the `play-bootstrap` dependency in my `build.sbt` file :

[code]

Here is what I have in my template:

[code]

When I compile my sources, Play tells me that I can't use b3 helpers (`Compilation error[not found: value b3]`)

[code]

[2016-05-28 09:45] adrianhurt commented on #60
It's strange. Have you tried to clean the project, exit and run it again?

[2016-05-28 09:52] sallareznov commented on #60
Oh, it works. I restarted my server and that did the trick. Thanks for the library and for your fast feedback. :)

[2016-05-28 09:53] sallareznov commented on #60
My problem is solved. I'm closing the issue.

[2016-05-28 09:53] #60 closed

[2016-05-28 09:54] adrianhurt commented on #60
You're welcome!

[2016-06-01 14:19] robert-ellam opened #61 "Force checkbox to be unchecked."
I cannot force a checkbox to be unchecked despite passing `'checked -> false`.

Looking at the checkbox helper I think the issue could be with this line.

`val checked = argsMap.get('checked).orElse(field.value.map(_ == value).orElse(argsMap.get('_default))).map(_.toString == "true").getOrElse(false)`

If I specifically pass checked as false then `val checked` should be set to false and continue,

[2016-06-01 15:43] robert-ellam commented on #61
Sorry I was not using version 1.1

[2016-06-01 15:43] #61 closed

[2016-06-03 15:47] vitalijzad opened #62 "play-bootstrap3_2.11 causes NoSuchMethodException on run"
This dependency:

`"com.adrianhurt" % "play-bootstrap3_2.11" % "0.4.5-P24"`

When I run activator, causes this exception:

[code]

With `scalaVersion := "2.11.1"` and `sbt launcher version 0.13.5`.

When the dependecy is removed, the project runs.

The bug can be reproduced by running the following project: https://github.com/JUGItalia/JUG_Events

[2016-06-03 16:06] #62 closed

[2016-06-03 16:08] vitalijzad commented on #62
Sorry, the correct version for Play 2.3 is 0.4.5-P23

[2016-06-24 12:41] anubhav100 commented on #60
having same problem help please

[2016-06-24 16:10] adrianhurt commented on #60
Hi, if your project doesn't find the `b3 value` is probably due to an installation problem. To install the plugin you only need to add this to `build.sbt`:
[code]
where you can change `1.0-P25-B3` for your corresponding version of Play and Bootstrap.

Then, execute `clean` inside `activator` and exit, and finally run activator again and try it.

[2016-06-27 15:38] Selsynn opened #63 "Using form validation from server and has-success"
Hello,
I'm stuck with my forms and validation error / success.

1) is it normal that "has-success" is mount on the reply from server only when "showIconValid" is set at true ?
I don't want this icon, so my css prevent it from being displayed but it seems a little overkill.

2) When I displayed the form for the first time, I want the field to be black, not having "has-success" (technically, I under

[2016-06-27 19:34] adrianhurt commented on #63
Hi @Selsynn,

[Here in the docs](http://adrianhurt.github.io/play-bootstrap/1.1-P24-B3/docs/#helpers-validation-states) you can see an example of a field with `has-success` but no icon. Your code would be like this:
[code]

So you must remove `'_showIconValid` and use `'_success` instead.

To get what you need in the second point, you need to use the value of `'_success`. For example, you can set

[2016-06-28 08:00] Selsynn commented on #63
Thanks, I didn't try with a boolean expression, only with true and it was not what I thought.

[2016-06-28 08:00] #63 closed

[2016-07-04 23:16] mkurz opened #64 "Resolve messages by default for certain arguments"
Hi!

I think it would make sense to always lookup certain arguments in the messages.
This would be
`'_label`
`'placeholder`
`'_text` (for checkboxes)

[2016-07-04 23:18] mkurz commented on #64
Right now I always have to write
[code]
It would be nice if the lookup would be done automatically by default in play-bootstrap via ` ctx().messages().at(...)`.

What do you think?

[2016-07-04 23:19] mkurz commented on #64
So I just have to write instead:
[code]
And play-bootstrap resolves the messages automatically

[2016-07-12 10:43] #64 closed

[2016-07-15 00:50] sdk451 opened #67 "1.1-P24-B3 for Java - could you update the example datepicker, multicheckbox, and textwithcheckbox code?"
Hi - really appreciate all your work on play-bootstrap!

Is it possible to post working code examples for the multicheckbox helper for play 2.4.x and Java? Your advice to remove the implicit Messages var (to avoid conflict with PlayMagicForJava) is helpful but incomplete and I don't have the scala skills to figure out the solution. (Does seem to complile for the textwithCheckbox and datepicker hel

[2016-07-15 13:57] adrianhurt commented on #67
Hi @sdk451, I think it's due to a typo error. Try with `Seq[(Symbol, Any)]` instead of `Seq[Symbol, Any]`.

[2016-07-17 07:02] sdk451 commented on #67
Sadly I had try at fixing the scala parameters following your suggestion,
still can't get it to compile. I am total novice with scala though, so it's
unsurprising.

On Fri, Jul 15, 2016 at 11:57 PM, adrianhurt <notifications@github.com>
wrote:

[2016-07-17 07:04] sdk451 commented on #67
I also tried using the updated code you have for the P2.5-B3
multicheckbox.scala.html in the documentation and simply removed the
messages var - are your sure it compiles?

On Sun, Jul 17, 2016 at 5:02 PM, Simon Kaufmann <simon.kaufmann@gmail.com>
wrote:

[2016-07-17 12:49] adrianhurt commented on #67
No, as I told you, there is a typo in the documentation. Use `Seq[(Symbol, Any)]` instead of `Seq[Symbol, Any]`. You can see the real code [here](https://github.com/adrianhurt/play-bootstrap/blob/master/play25-bootstrap3/sample/app/views/b3/multiCheckbox.scala.html).

[2016-07-17 12:52] adrianhurt commented on #67
What error do you have using this code (removing the messages argument)?

[2016-07-17 12:59] adrianhurt commented on #67
Anyway, I've just fixed the typo in the docs

[2016-07-18 05:08] sdk451 commented on #67
Thanks! Got it compiling using the P25 version you directed me to and
removing the implicit messages var.

On Sun, Jul 17, 2016 at 10:59 PM, adrianhurt <notifications@github.com>
wrote:

[2016-07-18 05:09] #67 closed

[2016-08-19 08:47] djahnsag opened #71 "Glyphicons and @import"
We are having a problem with glyphicons in 1.0-P25-B3. It's not big (you can work around it), but we'd like to have only ONE CSS file, so it's an issue for us:

I have two projects. In one, I include Bootstrap from my HTML code and all Glyphicons work. In another, we @include the *.less files from our backend.less file. Now the path to the font files is invalid and the glyphicons aren't working an

[2016-08-19 12:24] adrianhurt commented on #71
Hi @djahnsag. Sorry, but this is actually an issue for Webjars Bootstrap or Bootstrap itself (I don't know). This library simply imports and use it. Please, try first with a simple project without this library using directly the webjar. Remember that you can exclude the default version of Bootstrap used by this library and import a specific one (check the "installation" section from the docs), so

[2016-08-19 12:24] #71 closed

[2016-09-01 16:55] Batusay2kX opened #73 "1.1-P25-B3 with Java: "could not find implicit value for parameter messages: play.api.i18n.Messages""
Hi. When trying to use play-bootstrap 1.1-P25-B3 with Play 2.5.6 in Java to create a form, I get this two compilation errors in Eclipse:

`could not find implicit value for parameter messages: play.api.i18n.Messages`

and

`not enough arguments for method apply: (implicit fc: views.html.b3.B3FieldConstructor, implicit messages: play.api.i18n.Messages)play.twirl.api.HtmlFormat.Appendable in class t

[2016-09-02 00:48] adrianhurt commented on #73
Sorry, but I'm not very used to use the Java version for Play since a long time. I have a very simple project that it works to work for me. Could you please create any simple github project to see the error?

[2016-09-08 12:45] adrianhurt commented on #73
Meanwhile, I close this issue. Feel free to reopen if you need it.

[2016-09-08 12:45] #73 closed

[2016-11-16 13:57] dmbuchta opened #74 "V4 alpha 5 - Help Block"
Looks like the .help-block classes were replaced with .from-text [See here](http://v4-alpha.getbootstrap.com/components/forms/#help-text)

Also, I think for validation purposes (success/warning/danger) they moved from using the help-block entirely to using .form-control-feedback [See here](http://v4-alpha.getbootstrap.com/components/forms/#validation)

[2016-11-18 14:56] adrianhurt commented on #74
Thanks @dmbuchta.

I've just released the new SNAPSHOT versions for Bootstrap 4.alpha.5:
* 1.1.1-P24-B3-SNAPSHOT
* 1.1.1-P24-B4-SNAPSHOT
* 1.1.1-P25-B3-SNAPSHOT
* 1.1.1-P25-B4-SNAPSHOT

I will update the docs as well as soon as possible.

I hope I hadn't forgot any other change of this alpha version...

[2016-11-18 14:56] #74 closed

[2016-11-18 20:21] dmbuchta commented on #74
Great, thanks! I'm testing it out right now.

[2016-11-18 20:33] dmbuchta commented on #74
Hmmm. I'm new to using sbt, will the following pull down the new jar?
`"com.adrianhurt" %% "play-bootstrap" % "1.1-P25-B4" exclude("org.webjars", "jquery")`

I tried `"com.adrianhurt" %% "play-bootstrap" % "1.1.1-P25-B4" exclude("org.webjars", "jquery")`  but it didn't work.

[2016-11-19 00:10] adrianhurt commented on #74
Sorry, you need the resolver for SNAPSHOTs

[code]

[2016-11-19 13:24] adrianhurt commented on #74
I've just updated the docs as well

[2016-11-23 18:19] dmbuchta commented on #74
Looks good. Any thoughts about adding validation into your repo?

I'm currently using, https://github.com/1000hz/bootstrap-validator, it works pretty good for the most part. It would be cool if you added it (or something similar) into yours.

[2016-11-23 18:19] dmbuchta commented on #74
Just a suggestion :)

[2016-11-23 19:39] adrianhurt commented on #74
Hi, it's a good question. But the purpose of this library is simply to render the HTML part, not JavaScript. There are other plugins that do exactly that, like this one.

As I see (after only 2 minutes looking at the docs), you can use __play-bootstrap__ and __bootstrap-validator__ perfectly. The only issue is the block `help-block with-errors` that the validator needs. You can solve it by differe

[2016-11-24 20:36] mohitjaggi opened #75 "module not found: which resolver should i use?"
[info] Resolving com.adrianhurt#play-bootstrap3_2.11;1.1-P25-B3 ...
[warn] 	module not found: com.adrianhurt#play-bootstrap3_2.11;1.1-P25-B3
[warn] ==== local: tried
[warn]   /Users/mohit/.ivy2/local/com.adrianhurt/play-bootstrap3_2.11/1.1-P25-B3/ivys/ivy.xml
[warn] ==== public: tried
[warn]   https://repo1.maven.org/maven2/com/adrianhurt/play-bootstrap3_2.11/1.1-P25-B3/play-bootstrap3_2.11-1.1-P2

[2016-11-24 20:40] mohitjaggi commented on #75
the code example on https://adrianhurt.github.io/play-bootstrap/ was wrong. there is no "3" after bootstrap in the name. removed that and works fine now!

[2016-11-24 20:40] #75 closed

[2016-11-24 21:06] adrianhurt commented on #75
Hi @mohitjaggi. Precisely, there in the docs it is specified that artifact `play-bootstrap3` is only for older versions. I suppose I should simply remove that mention, since versions previous than 1.0 are old now and it's also specified in the changelog page.

[2016-11-24 21:11] mohitjaggi commented on #75
You are right. I was reading too fast!

Mohit Jaggi
Founder,
Data Orchard LLC
www.dataorchardllc.com

[2016-12-10 22:54] mohitjaggi opened #76 "table input"
I want to create a form with a table input. Is there a way to do something like the play framework's
@helper.repeat(...) ?

[2016-12-11 02:21] adrianhurt commented on #76
Hi @mohitjaggi. The helper `repeat` should work as it is explained at the Play docs, but using b3 helpers when needed. It's independent from how the fields are rendered into HTML. So try it as the following example. If it doesn't work, just tell me.

[code]

[2016-12-12 20:18] mohitjaggi commented on #76
OK. I did @b3.repeat instead of @helper.repeat. My bad.

[2016-12-12 20:18] #76 closed

[2017-02-28 04:32] mslinn opened #78 "Support Play 2.6.0-M1 and Scala 2.12"
Most of the changes I have found regarding Play 2.6.0-M1 have been fairly simple to deal with.

[2017-02-28 12:01] adrianhurt commented on #78
Hi @mslinn. Thanks for your interest. I think it's still soon but feel free trying to create a PR with folders `core-play26` and `play26-bootstrap3`. The main changes affecting us I can see are here:
https://www.playframework.com/documentation/2.6.x/MessagesMigration26

[2017-03-06 10:25] florianschneider commented on #39
@adrianhurt I'm experiencing issues using the b3.select with _default and having one of the options pre-selected. Not sure if this is the right place to ask, though.

[2017-03-07 18:48] adrianhurt commented on #39
Hi @florianschneider, please open a new issue and tell there what is exactly happening with your code. Add an example and explain what issue you are experiencing. I need more details to be able to help you… 😉

[2017-03-13 07:27] florianschneider opened #79 "Support for ValidationError"
Your API for rendering validation state allows Option[play.api.data.FormError] as parameter to '_error . However, when querying fooForm("barAttribute").errors , I receive instances of play.api.data.validation.ValidationError.
Am I getting something conceptually wrong here?

[2017-03-13 08:50] adrianhurt commented on #79
Hi @florianschneider,

The API for the plugin allows `Option[FormError]` as parameter to `'_error` because it could be useful for example if you would like to add a global error for the form within a specific field (global errors lets you to validate the fields all together).

For the other hand, querying `fooForm("bar").errors` should be a `Seq[FormError]` as it is said at the Play's API.
https:/

[2017-03-13 10:38] florianschneider commented on #79
Thanks @adrianhurt for the quick reply. The issue certainly seems unrelated to your plugin, however I thought there might be some new development you were not supporting yet. The Play API documentation proves me wrong....

What I'm still not understanding is why the form object provides ValidationError instances at runtime in spite of the API docs stating there would be FormError instances. Well,

[2017-03-13 10:44] florianschneider commented on #79
[formErrorTest.zip](https://github.com/adrianhurt/play-bootstrap/files/837938/formErrorTest.zip)

[2017-03-13 12:44] florianschneider opened #80 "Possibility to display form error with @b3.free"
I would like to display a form error for an object that requires a non-empty array.

As the array itself has no form helper counterpart, I would like to be able to put the error somewhere in the surroundings of the form elements representing the array. Of course I can style it all on my own but I thought it was nice if the `@b3.free` helper supported '_error arguments.

[2017-03-13 12:52] florianschneider commented on #80
Just solved this using `@b3.inputWrapped` helper :-)

[2017-03-13 12:52] #80 closed

[2017-03-13 13:53] florianschneider commented on #79
Oddly, under certain circumstances, the error display of your form helper works without me even specifying something for the '_error symbol. Now I'm completely confused.

[2017-03-17 08:31] florianschneider opened #81 "Can't represent null option in select"
I have a class (written in java)
[code]
Now I'm having a form in which I want to select who's next from a set of other `Foo` instances (called `assignableSuccessors` below).

[code]
This way, I'm never able to unset the `next` attribute again using the select.
Using

[code]
does not really help as this will only lead to a validation error on the form once I choose the default option on the select

[2017-03-17 09:19] adrianhurt commented on #81
Hi @florianschneider

Oh, I see I've missed the original functionality of `'_default` argument. It should be disabled in order to use it as a placeholder and a way to force the user to select one. But not for your case of using it as an additional option. Thanks, I will raise an issue for this bug to remember I have to fix it.

If you need another option (an 'empty' one in your case) you need to a

[2017-03-17 09:20] A00107408 commented on #81
Happy St. Patricks Day !!

[2017-03-17 09:23] adrianhurt opened #82 "In select helper, '_default argument should be disabled"
As de docs says, the `'_default` argument should always appear as disabled. But the doc's example is not disabled at all. **Check if it's a bug on the docs or on the code**.

Copied from docs:

[2017-03-17 09:28] florianschneider commented on #81
Thanks @adrianhurt that was exactly the workaround I'm pursuing right now :-)

[2017-03-17 09:36] adrianhurt commented on #81
Your welcome. But it's not a workaround. It's the way to do it. `options` parameter is the place to put every option, so if you have an "empty" or "null" option that the user can select, you need to insert it as well within `options` parameter.

I close the issue, but feel free to reopen it if you need it.

[2017-03-17 09:36] #81 closed

[2017-03-24 14:46] IntelligyScience opened #83 "twirl.forwardsRouter no such method error"
Hi,
I have encountered a very strange error wit b4.

[code]

My minimal example is

[code]

Using Play 2.5.12 b4 1.1.1-P25-B4-SNAPSHOT or 1.1-P25-B4
Same issue.
Someone any idea?

[2017-03-25 13:35] adrianhurt commented on #83
Hi @IntelligyScience, sorry for the delay. Have you tried it without all of these imports? Just only the plugin.

[code]

And if it works, then add the imports one by one to check where could be the conflict.

[2017-03-27 07:07] IntelligyScience commented on #83
HI Adrian,
thanks for your answer. I am sorry, I have to tell that the same effect is still their. Even I deleted all imports and run a pure html template.

[2017-03-27 07:37] adrianhurt commented on #83
Have you tried cleaning the project? Or with a new project? Even try to remove one of the two lines that use `b4`, or both… It's too strange.

[2017-03-27 09:16] IntelligyScience commented on #83
I think their is a deeper issue. Now nothing works! Very strange.

[2017-03-27 09:21] IntelligyScience commented on #83
New Project running in the same. With or without using b4

[2017-03-27 09:21] IntelligyScience commented on #83
windows and linux

[2017-03-27 09:25] IntelligyScience commented on #83
Very interesting. On a blog was the solution to add in plugins.sbt addSbtPlugin("com.typesafe.sbt" % "sbt-twirl" % "1.3.0")
Also the evicted setting on sbt seemes to be a problem.
And now I get the "normal" error.

Error

[code]

This Template:

[code]

[2017-03-27 09:29] adrianhurt commented on #83
could you copy here your build.sbt file?

[2017-03-27 09:35] IntelligyScience commented on #83
Ok:

[code]

[2017-03-27 10:48] adrianhurt commented on #83
Wow, you have lots of dependencies 😄

I don't know why your project doesn't find `b4.hidden` helper… Does it happen with every helper or only with hidden one?

May be you can try with an empty project in order to discard if it's an problem specific to this library or it could be a conflict between more dependencies.

[2017-03-27 12:16] IntelligyScience commented on #83
Yes :)

It is with all b4.

Maybe it helps the compiled code:

[code]

[2017-03-27 13:21] IntelligyScience commented on #83
Ok interessting again!
If I am using @helper.inputText I will get the same error.

[2017-03-27 14:32] IntelligyScience commented on #83
I found the problem!!!!
I used "com.vmunier" %% "scalajs-scripts" % "1.1.0"
but for my twirl I need -> "com.vmunier" %% "scalajs-scripts" % "1.0.0"

[2017-03-27 14:32] #83 closed

[2017-03-28 10:17] adrianhurt commented on #83
great!

[2017-03-28 10:18] adrianhurt commented on #79
Hi @florianschneider, did you find the problem?

[2017-03-29 10:30] florianschneider commented on #79
Yeah, I was just confused by the debug output. As long as the id of the field in question is set correctly, the errors are correctly displayed without an explicit specification of _error in the helper.

[2017-03-29 10:30] #79 closed

[2017-04-11 18:51] LeonorLunatech opened #85 "java.lang.NullPointerException when using args in the controls"
I am implementing a project using the following form:
[code]
Everything was working OK, until I implemented unit test for the controller.
I get the following error :
[code]

The funny part is that the error disappears if I remove the args from the controllers, like this:

[code]
What I'm I missing here?

[2017-05-09 12:01] mkurz opened #86 "b3.hidden should also take field"
Right now the `b3.hidden` field takes following arguments:
`@(name: Any, value: Any, args: (Symbol, Any)*)`
so you have to pass the `name` and `value` **explicitly**.

Please add a version like:
`@(field: Field, args: (Symbol,Any)*)`

So we could simple "hide" a field by changing it from:
`@b3.text( fooForm("name"), '_label -> "Name", 'placeholder -> "John Doe" )`
to
`@b3.hidden( fooForm("name"),

[2017-05-09 12:02] mkurz commented on #86
(Updated. Sorry - I hit the "Submit" button to early)

[2017-05-09 12:09] mkurz commented on #86
I think arguments starting with `_` (like `_label`) can then be ignored, but others should not (E.g I still want to be able to add a `'class` or html5 data attributes to the hidden field).

[2017-06-11 21:34] #82 closed

[2017-06-11 21:34] #86 closed

[2017-06-11 21:37] adrianhurt commented on #78
Now it's updated. Please, check [this](https://github.com/adrianhurt/play-bootstrap/pull/84#issuecomment-307658388)

[2017-06-11 21:37] #78 closed

[2017-06-11 21:37] mkurz commented on #86
Thanks! I will try it next week.

[2017-06-11 21:38] adrianhurt commented on #86
Thanks, and sorry for the delay, it's now implemented in the new versions. Please, check [this](https://github.com/adrianhurt/play-bootstrap/pull/84#issuecomment-307658388).

[2017-06-11 21:39] adrianhurt commented on #85
I'm sooo sorry. I totally forgot this issue. Could you solve it?

[2017-06-12 07:58] LeonorLunatech commented on #85
No, I did not solve it :(

[2017-06-12 08:07] mkurz commented on #85
@LeonorLunatech Which version of Play and play-bootstrap are you using?
Can you provide a simple project which reproduces the problem?
I think this has something todo with i18n messages.

[2017-06-12 11:12] adrianhurt commented on #85
Yes, please @LeonorLunatech, give us more clues. We need at least the version of Play and play-bootstrap you are using and the code for the unit test that throws the exception. But even better would be a simple project with the problem as @mkurz said.

[2017-06-12 15:29] mkurz commented on #86
@adrianhurt I found a but:
When I write:
[code]

I get
[code]

Removing `, 'class -> "something"` fixes the problem. Same happens if I write `'_label -> "something"`

[2017-06-12 16:11] adrianhurt commented on #86
It's strange. It works for me using `'class` and `'_label`. Which version of play-bootstrap are you using? Have you tried cleaning the project?

[2017-06-13 00:15] mkurz commented on #86
@adrianhurt I am **sure** now **this definitely is a bug**. If you test with a `play.data.Field` of a PlayJava project instead using a `play.api.data.Field` from PlayScala you will see the error too :wink: Please see #87

[2017-06-13 15:58] adrianhurt commented on #86
Thanks for the solution and PR. Please, check it when you can.

[2017-06-22 10:38] mkurz commented on #85
Ping @LeonorLunatech

[2017-06-22 10:57] LeonorLunatech commented on #85
Sorry for not replying. I'm not actively working in that project anymore. But tomorrow I'll have some time to look into it. I'll come back to you :)

[2017-06-22 10:57] mkurz commented on #85
@LeonorLunatech Thanks!

[2017-06-23 14:03] LeonorLunatech commented on #85
[test.zip](https://github.com/adrianhurt/play-bootstrap/files/1097992/test.zip)

I have created a very simple project that reproduces the issue.
So the problem is in integration test. Just hit `sbt test` to see the error occurring

[2017-06-23 18:23] mkurz commented on #85
@LeonorLunatech I won't have time til beginning of July to check this. But thanks for the test project.

@adrianhurt Maybe you can check?

[2017-06-28 18:22] sanjeevghimire opened #91 "com.adrianhurt#play-bootstrap_2.12;1.1.1-P25-B3: not found"
my build.sbt looks like following

[code]

Error:Error while importing SBT project:<br/>...<br/><pre>[info] Resolving org.ow2.asm#asm;5.0.3 ...
[info] Resolving org.ow2.asm#asm-tree;5.0.3 ...
[info] Resolving org.ow2.asm#asm-analysis;5.0.3 ...
[info] Resolving org.ow2.asm#asm-util;5.0.3 ...
[info] Resolving org.scala-lang#scala-compiler;2.12.2 ...
[info] Resolving jline#jline;2.14.3 ...
[warn] 	::

[2017-06-28 18:32] adrianhurt commented on #91
Hi @sanjeevghimire. I'm not totally sure, but I suspect it's due to the scala version. The plugin for version prior to 1.2 is compiled for scala 2.11. The new version 1.2 (still a snapshot but I'll release it in some days) is compiled for scala 2.12. So try to use 1.2-P25-B3-SNAPSHOT.

[2017-06-28 18:42] sanjeevghimire commented on #91
thanks @adrianhurt . i changed to 2.11 and it works.

[2017-06-28 18:44] sanjeevghimire commented on #91
Is there a sample play bootstrap github example?

[2017-06-28 18:53] adrianhurt commented on #91
Yes! Each version has its own sample. Check [this](https://github.com/adrianhurt/play-bootstrap/tree/master/play25-bootstrap3/sample).

You can also check other of my repos: (Play Multidomain Auth](https://github.com/adrianhurt/play-multidomain-auth).

Or simply use the GitHub's global finder: [try this](https://github.com/search?q=play-bootstrap+filename%3Abuild.sbt&type=Repositories&utf8=✓).

[2017-06-28 18:53] #91 closed

[2017-06-30 22:00] ernani opened #92 "Play 2.6 with Webjars and play-bootstrap"
I wanted to integrate webjars, play-bootstrap in my play 2.6 project.

The problem is that the webjars needs to be injected into the view, then I can't pass or load params in these templates anymore

list.scala.html (injected webjars-play) -> loads -> main.scala.html

In main.scala I have some other templates injected such as @main_header.scala.html which contains the webjars scripts, but it won't

[2017-07-01 11:52] adrianhurt commented on #85
Sorry for the delay, @LeonorLunatech! I've just checked your test. I don't know enough about tests with Mockito, but it seems it's not a problem with __play-bootstrap__. The test creates a `Messages` instance with __null__ value. I just simply added this line to `DishController.getNewDish`:

[code]

And it prints null at the console. In fact, you can add this other line before `b3.form` within `ne

[2017-07-01 11:56] adrianhurt commented on #92
Hi @ernani, I don't understand what you refer about integrating web jars, play-bootstrap, and about injecting the webjars into the view. Could you elaborate a test project or write here the code you are using and the error you get?

[2017-07-02 06:17] ernani commented on #92
Hi Adrian, thanks for replying quickly!

The thing is, by looking at your sample here:
https://github.com/adrianhurt/play-bootstrap/blob/master/play26-bootstrap4/sample/app/views/main.scala.html

It seems it links the libraries from webjars already by referencing /lib in routes.Assets.at

But I think I got it confused with this lib:

https://github.com/webjars/webjars-play which leads to a parent

[2017-07-02 08:39] nafg opened #93 "Play 2.6 for scala 2.11"
Any reason not to cross-build?

[2017-07-02 12:10] adrianhurt commented on #92
Ok, I see. It's really a question about Play and WebJars, and my knowledge on this is limited 😉

As I understand seeing that code and docs here:
 - https://www.playframework.com/documentation/2.6.x/ScalaTemplates#Template-constructor
 - http://www.webjars.org/documentation

The use of the helper `webjars-play` it's optional and helps to reference Webjars assets. I've never used the constructor `@t

[2017-07-02 13:00] adrianhurt commented on #93
None! 👍  I've just release a RC1 version and I've added scala 2.11.8 for version for Play 2.6.

[2017-07-02 13:00] #93 closed

[2017-07-03 12:07] mkurz commented on #93
`2.11.11` is the latest release of the Scala `2.11.x` branch - see #94

[2017-07-03 12:11] mkurz commented on #92
I am pretty sure this has nothing to do with play-bootstrap. We changed all our templates to make use of DI via `@this(..)` and everything works great.

[2017-07-03 12:12] mkurz commented on #85
I think this can be closed as it seems it has nothing to do with play-bootstrap but the messages are missing in the tests.

[2017-07-03 13:50] ernani commented on #92
I was able to load both, part of it is because it requires an injected view instead of just a regular link to it in the Controller classes. It all works like a charm now, I will now close the issue.

Also thanks for providing such awesome component, it saves a lot of time.

Best Regards!

[2017-07-03 13:50] #92 closed

[2017-07-03 17:04] #85 closed

[2017-07-03 17:10] adrianhurt commented on #93
Thanks!

[2017-07-19 20:14] jducoeur opened #98 "Multifield documentation goes to a dead page"
In general, the doc links are a little flaky -- some things are pointing to "singleton" paths, but only exist in "versioned" paths.  Most notably, all the links to Multifield point to http://adrianhurt.github.io/play-bootstrap/multifield -- which doesn't exist, you need to actually use, eg, http://adrianhurt.github.io/play-bootstrap/1.2-P26-B3/multifield/

[2017-07-19 21:15] adrianhurt commented on #98
Hi @jducoeur, as we have lots of different versions, the doc links are caught by JS and the version is added. It's true, I should have a link for http://adrianhurt.github.io/play-bootstrap/multifield (and the rest ones) and redirect them to the last version. However, I've just tried the links that points to multifield section and they work. The only one I've see it's broken is the last one at the

[2017-07-19 21:44] jducoeur commented on #98
Hmm, now that's odd.  I'm *pretty* sure I got the 404 from at least one of the links on the "Multifield support" section on the front page.  (Since I specifically wanted to reproduce the date-range control shown there.)  But now it doesn't repro for me.

It hadn't occurred to me that those links were being intercepted and redirected.  I'm now wondering if there was a quiet error at the JS level --

[2017-07-23 17:51] #98 closed

[2017-07-23 17:57] adrianhurt commented on #98
Hi @jducoeur. I've just updated the docs with the final release for version 1.2 and I fixed that broken link. I've also added the redirections for /multifield and any other "version agnostic" links to the last version. I suppose it's also an advantage for SEO 👍

If you see something wrong, just let me know.

[2017-07-23 19:43] jducoeur commented on #98
Will do -- thanks!

(And thanks for the library: it's quite delightful, and makes for much cleaner templates...)

[2017-08-28 00:26] Enalmada opened #99 "bootstrap 4"
Opening to keep track of things anyone notice need to change.  Good news is I have not noticed much:

beta-1 got rid of column offsets and this makes horizontal form checkboxes go to the far left.  Can be solved manually for now by adding empty label ('_label -> "").  Beta-2 seems to have put them back.

Inline forms perhaps shouldn't have "form-group" wrapping elements.  It seems to mess with the

[2017-09-19 16:33] sisidra opened #100 "Property `placeholder` is not localized in Bootstrap4 version"
`B4FieldInfo` overrides `innerArgsMap` without calling or fully reimplementing `BSFieldInfo.innerArgsMap` behaviour, like `placeholder` property i18n.

[2017-09-19 18:26] sisidra commented on #100
Here is a corresponding PR: https://github.com/adrianhurt/play-bootstrap/pull/101

[2017-09-21 12:01] adrianhurt commented on #100
Thanks @sisidra !

Sorry for answering you so late. These days are totally imposible for me to check it and test it. So, please, you will to wait a bit more (maybe a week).

Thanks again!

[2017-11-13 14:10] nandotorterolo opened #102 "Wrong reference"
https://adrianhurt.github.io/play-bootstrap/

Every helper you need
Inputs, checkboxes, radio buttons, selects, input-groups, custom inputs, ... You have the essential input helpers you could need. But this library is for the community, so you can collaborate or ask for others.
See the list of available helpers `_here_`.

https://adrianhurt.github.io/play-bootstrap/docs#helpers

[2017-12-27 05:45] stellalie commented on #99
+1 also on fixing bootstrap inline error layout, atm its broken due to few differences

[2018-01-12 16:18] adis-me opened #103 "Select field missing required tags when type is not String"
Hi,

Just stumbled upon the following issue. I have a FormRequest where a list of `User`s needs to be selected. My FormRequest looks (simplified of course):

[code]

In my view I am using the following:

[code]

I have noticed that no `required` attribute is generated when I am using `form("user.id")`.
But when I use `form("user")` the `required` attribute is generated.

Is this a bug or _by desig

[2018-01-31 00:17] mkurz commented on #100
@adrianhurt Are you still working on this libary?

[2018-02-21 18:00] mkurz commented on #99
@Enalmada @stellalie Did you notice some other changes in the Bootstrap 4 final release? Just to keep that issue here updated...

[2018-02-21 18:36] Enalmada commented on #99
Updated comment with the things I happened to notice: inline form wrapping, custom checkboxes, form validation.  I wasn't sure how to work around the new custom checkbox so I have just continued using the beta.  I will test out any snapshot you want feedback on!

[2018-02-21 20:19] adrianhurt commented on #99
Sorry for having this repo outdated (all of them indeed). My last months are being crazy and I don't have enough time to check the new B4. Sorry again. I honestly appreciate your help and I promise this weekend I'll try to check it and publish a new snapshot to try it. Thanks!!

[2018-02-21 20:30] mkurz commented on #99
@adrianhurt it's OK - take your time. Whatever happened the last month I hope you are ok!

[2018-02-25 19:07] adrianhurt commented on #100
Sorry for answering so late. I'm now releasing the version 1.2.1-P2X-BX-SNAPSHOT with the PR merged. I'll hope to be able to update the documentation page during the next week.

[2018-02-25 19:08] #100 closed

[2018-02-25 21:06] adrianhurt commented on #99
Hi! I've just released the version 1.3.P2{4,5,6}-B{3,4}-SNAPSHOT with bootstrap 4. Please, note it's the first snapshot and I've not already tested properly. But it's a first approach if you want to try it. I hope to update the documentation page during the next week, so meanwhile I put here the main changes and notes:

* Form groups have still support for warning state (although it will be necess

[2018-02-25 21:57] adrianhurt commented on #103
Hi @adis-me. Sorry for answering so late. I understand your question, but it is a functionality provided by `play.api.data.Field`, so you could ask it directly to the Play Framework repository. This plugins simply get the list of constraints provided by Field object and render them for you.

[2018-02-25 21:57] #103 closed

[2018-02-25 22:06] adrianhurt commented on #99
Regarding to validation issue. I was thinking in adding only "is-invalid" class to input automatically when it has some error from server. Otherwise, the user should add manually the "is-valid" and "is-invalid" classes when needed. I think it would be the best solution for handling server and clients sides validation. What do you think?

[2018-03-03 00:00] Enalmada commented on #99
Seems good so far from basic testing.  Only thing strange I noticed so far was that with inline forms the custom select puts label on top and the regular select puts label on the left but I think this is a bootstrap issue:

![image](https://user-images.githubusercontent.com/1892132/36917440-b07c121c-1e0b-11e8-8315-f3661e42dc81.png)

[2018-03-07 00:15] adrianhurt commented on #99
Sorry @Enalmada, I'll try to check it tomorrow. Meanwhile,  I've just updated version 1.3-P2X-BX-SNAPSHOT.

I noticed the class "form-horizontal" has disappeared and "form-inline" now set that container as flex-box, so it must be placed as the direct wrapper of the form-groups. I.e. you cannot add "form-inline" at the form if you have internal custom wrappers inside a complex form. For that reason

[2018-03-07 08:30] adrianhurt commented on #99
@Enalmada, could you try adding the class "form-control" to your example of the custom select (adding to it  `'class -> "form-control"` or directly with inspector in your browser). Maybe I could add it by default for every custom select (or maybe every custom helper…)

[2018-03-08 18:48] Enalmada commented on #99
I tried adding "form-control" to custom-select and it fixed the label position but the pulldown icons went missing.  I see a b4 bug https://github.com/twbs/bootstrap/issues/25413 which looks like it may be the reason and it will be fixed in next bootstrap release so I think we can just ignore inline custom-select issue for now.

For the inline issue, I feel like most people using inline form const

[2018-03-08 19:04] adrianhurt commented on #99
Ok about the custom select's issue. Regarding to "form-inline", I thought exactly the same (adding a way to disable it). But I think it's more easy to understand that "form-inline" class must be exactly on form-group's parent container. I know 95% of the cases we would need to add it on inline forms, but it's more clear, and specially the fact that if in the future you place some stuff as wrappers

[2018-03-08 20:28] Enalmada commented on #99
You are a good person for considering the consequences on wrapper users but don't waver from the play-bootstrap spirit...bootstrap specific classes are internal concerns when technically possible.  I am so grateful that play-bootstrap frees me of knowing that form-inline must be exactly on a form-groups container.  I am confident that those who have wrapper issues will be more advanced users likel

[2018-03-08 21:40] adrianhurt commented on #99
Ok, I think you convinced me… 😆  But I'm not sure about the best way to disable adding the "form-inline" class. I'm thinking in a variable `'_removeDefaultClass` (you all can vote another name for that…) or maybe use `'class` to adding extra classes and `'_class` to override the default class — using an empty string or your own class. I don't know... I prefer not adding more types of field constru

[2018-03-09 19:32] Enalmada commented on #99
_removeDefaultClass seems sane to me...or _disableDefaultClass.  Just thinking aloud so all options are on the table...you could consider a _defaultClassOverride that could be set to anything like Some("form-custom") or Some("").  You could add @b4.plain.form().

[2018-03-10 13:00] adrianhurt commented on #99
Ok, I've just updated the snapshot with `'_disableDefaultClass`. I think it's the easier approach and it let us disabling the default class for any form ("form-vertical", "form-horizontal" and "form-inline")

[2018-03-15 16:59] Enalmada commented on #99
One other thing I just noticed is that b4 appears to have changed the way they do "input-group-addon" where you can put icons before and after input elements (https://getbootstrap.com/docs/4.0/components/forms/#auto-sizing).  You may want to update the "Your own custom helpers" part of the docs with the new (input-group-prepend | input-group-append) + input-group-text format for b4.

[2018-03-15 18:50] adrianhurt commented on #99
Yes, I noticed it. I'm working on the docs. I hope I can publish them soon. Thanks!!

[2018-03-18 23:19] adrianhurt commented on #99
Hi everyone! Just let you know the docs are updated, and not only for version 1.3 but for 1.4 as well (indeed it's not 100% complete for the latter). I finally create a way to passing `'_custom`, `'_feedbackTooltip` and `'_feedbackIcons` arguments to specific form helpers. I think this behaviours should be in the field constructors instead of each helper.

Unfortunately it breaks backward compatib

[2018-03-18 23:51] adrianhurt commented on #102
Finally I fixed the redirections issues (I hope so). Thanks and sorry for fixing it so late. Sorry!

[2018-03-18 23:51] #102 closed

[2018-03-22 05:00] stellalie opened #106 "checkbox readonly render as hidden input field"
@adrianhurt im not sure if this is a bug or an intended feature but b4.checbox that have options of "readonly" set to true will render correctly as greyed disabled checkbox, however....

it is actually an input type hidden in the actual html.. so regardless whether the box is checked or not... it will get submitted in the form regardless the value in the `checked` field, .ie:

[code]
will render i

[2018-03-23 16:51] bharal opened #107 "fooForm in all the examples"
Hi,

just checked the documentation, and this term "fooForm" appears everywhere.

It isn't clear what "fooForm" does, or how to use it. Can you either use a better name for whatever this thing is, or clearly express what fooForm is in the documentation?

[2018-03-23 17:26] mkurz commented on #107
`fooForm` is a Play form object. You should read the Play Framework documentation:
https://www.playframework.com/documentation/2.6.x/ScalaForms#Form-Basics
https://www.playframework.com/documentation/2.6.x/JavaForms#Defining-a-form

[2018-03-23 18:47] adrianhurt commented on #107
Thanks @mkurz. `fooForm` it's just the arbitrary name of a simple `Form[A]` object. It's used the same way it's shown at Play Framework docs (as mkurz said). But instead of using concrete examples like `userForm` or `postForm` I opted to use the foo ([https://en.wikipedia.org/wiki/Foobar](https://en.wikipedia.org/wiki/Foobar)) convention, so you can translate it to "myForm",  "whatEverYouWantForm"

[2018-03-23 18:47] #107 closed

[2018-03-23 18:57] adrianhurt commented on #106
Hi @stellalie. The first one it's an intended feature. You can check it [here](http://adrianhurt.github.io/play-bootstrap/1.4-P26-B4/docs/#helpers-disabled-readonly).

Regarding the bug you say with multifield, could you give me a complete example? Multifield helper is to create your own helper, so I would need to know exactly how it's implemented in order to help you.

[2018-03-25 16:27] adrianhurt commented on #99
I've just updated the docs to include the B4 custom fields and feedback tooltips. With this, I consider this issue as closed, but feel free to open it again or another one more specific with any doubt, error or bug.

Thank you all!!

[2018-03-25 16:27] #99 closed

[2018-04-25 16:15] bharal opened #108 "Make my own radio button?"
Been banging my head on this one - i want the radio button to render like this:

[code]
Sadly, I have no idea how to reach this nirvana. I've tried making my own constructor, but nothing ever compiles - is there a github example of just a custom field constructor that works that i can use>?

[2018-06-27 07:16] cybex-dev opened #109 "Install / Usage instructions"
Hi

Thanks for the work you have done!

Could you provide installation instructions in the `ReadMe.md`.

**Reason**: I am unsure of how to incorporate `play-bootstrap` correctly into my own project, and I can imagine not being the only one..

Thanks in advance

[2018-06-27 07:48] adrianhurt commented on #109
Hi, there is a link to the documentation page in the readme. There, you can see a section with the installation instructions.

https://adrianhurt.github.io/play-bootstrap/#installation

I hope it helps you

[2018-06-27 09:13] #109 closed

[2018-07-03 22:20] DylFeeney opened #110 "Unsure on how to use, getting errors"
I have been trying to get play-bootstrap working in my project. I read on the documentation on it says,

*From version 1.2 for Play 2.5 or Play 2.6
You only need to add it as a dependency in your build.sbt file.*

[code]

I have added these into my build.sbt file and when I run the project it successfully downloads. I then tried to use this code:
[code]
but modified it to:
[code]
This is to use th

[2018-07-09 12:59] phamtrinli opened #111 "Release 1.4"
Hi,

thanks for this project :-)
Any plans when version 1.4 is released on Sonatype? So far I've just found snapshot versions.

Kind regards,
Christian

[2018-09-05 08:58] NTPape opened #113 "Checkbox label in horizontal form not vertically aligned"
Hi,

I'm using the version 1.4-P26-B4-SNAPSHOT and noticed the following minor issue:

When using a checkbox in a horizontal form with a label they will not be vertically aligned because the label has the `col-form-label` class giving it a positive `padding-top` while the checkbox has none. According to the [Bootstrap docs](https://getbootstrap.com/docs/4.1/components/forms/#horizontal-form) that

[2018-09-12 21:17] jenshuehn opened #114 "documentation misses class "position-relative" for feedback tooltip"
Dear Adrian.

There is a minor observation which I would like to report as this is an unnecessary hurdle:

Bootstrap 4.1 requires (https://getbootstrap.com/docs/4.1/components/forms/#tooltips):
_If your form layout allows it, you can swap the .{valid|invalid}-feedback classes for .{valid|invalid}-tooltip classes to display validation feedback in a styled tooltip. Be sure to have a parent with posi

[2018-10-15 09:02] nob13 commented on #111
forked the repo and released 1.4-P26-B4, hope this is only needed temporary ;)

[2018-11-04 20:07] nafg commented on #111
Pretty please? ;)

[2018-11-23 18:51] mkurz commented on #111
@adrianhurt [Play 2.7.0-RC3 released](https://discuss.lightbend.com/t/play-2-7-0-rc3-released/2715) - would nice if we see a new release of play-bootstrap

[2019-02-04 05:37] mkurz commented on #111
@adrianhurt [Play 2.7.0 released](https://blog.playframework.com/play-2-7-0-is-here/).
Will you continue maintaining play-bootstrap?

[2019-02-05 06:20] adrianhurt commented on #111
Hi, sorry for that. It’s my intention but it’s true I don’t get enough time these last months. I’ll try to give it a bump within the next 2 weeks.

[2019-02-05 06:42] mkurz commented on #111
Thanks @adrianhurt! I really appreciate the time you invest into this library!

[2019-02-05 11:38] mkurz opened #115 "Play 2.7 support (and cross build for Scala 2.13.0-M5)"
Please add support for Play 2.7.
https://blog.playframework.com/play-2-7-0-is-here/
https://www.playframework.com/documentation/2.7.x/Highlights27
https://www.playframework.com/documentation/2.7.x/Migration27

Please also publish builds for Scala `2.13.0-M5`. ([Add it to `crossScalaVersions`](https://github.com/adrianhurt/play-bootstrap/blob/48c02e367eb89b952904e9e514e12bfac6b68e08/play26-bootstra

[2019-02-05 11:40] mkurz commented on #111
@adrianhurt Please also add support for Play 2.7 and please also provide builds for Scala 2.13.0-M5. I opened a ticket for this, see #115. Thanks!

[2019-02-20 22:57] adrianhurt commented on #111
Hi! Again, sorry for being away for so much time! But finally, I've just released version 1.4. I've simply updated some libraries, so I hope everything is fine. But anyway just tell me if you see something wrong and I promise to correct it quickly.

So the released versions are:
* 1.4-P6-B4
* 1.4-P6-B3
* 1.4-P5-B4
* 1.4-P5-B3
* 1.5-P27-B4-SNAPSHOT
* 1.5-P26-B4-SNAPSHOT

I'll try to update the docs

[2019-02-20 22:58] adrianhurt commented on #115
Hi @mkurz! I've just finally released the snapshots for 1.5 versions with Play 2.7 (the code is on branch develop). Please, try to test it. I've just found a lot of warnings like this one:

[code]

I'll try to check them as soon as possible and to update the docs as well.

The snapshots versions are:
* 1.5-P27-B4-SNAPSHOT
* 1.5-P26-B4-SNAPSHOT

[2019-02-20 22:59] #106 closed

[2019-02-20 23:05] mkurz commented on #115
@adrianhurt Thanks! I will check it out as soon as possible! Again thank you very much for your efforts!

[2019-03-22 20:38] woyzeck opened #116 "Combining @multifield and @repeat"
Hi, I've tried to render multiple `@b4.checkboxes` in a single row using `@multifield` (based on the example in your docs). However, my list of checkboxes isn't static. Instead of that it will be backed by a Seq of entries that are read from a database - every db record will be shown as a checkbox.
Play suggests using `repeat` or `repeatWithIndex` to iterate over the Seq, which works like a charm,

[2019-03-24 11:15] adrianhurt commented on #116
Hi @woyzeck, you should be able to use both options.

`repeat` helper lets you render a list of "form-groups".
[code]

And the multifield feature of this library is intended to render a list of fields within the same "form-group".
[code]

[2019-03-25 21:02] woyzeck commented on #116
Thank you, @adrianhurt. I'll give that a try.

This would require to accumulate the calls inside repeat while at the same time returning an empty html snippet and using `multifield` later to generate the real html snippet.

[2019-05-07 07:02] Ard4nis opened #118 "Display invalid-feedback"
We are using the plugin to generate a searchform, and when returning a form with an error in, due to not finding the content being searched for, it correctly colors the search bar red and adds the icon.

But we return the form with an error, which gets added to a div under the search bar, but this div has the class invalid-feedback, which results in it being hidden. Is there anyway to work around

[2019-05-30 09:47] bjoernhaeuser commented on #115
I tested the 2.7 snapshot and it looks very good to me, though I only have a minor use case - two simple forms.

[2019-05-30 09:49] mkurz commented on #115
I think we should wait with the next release until next week because then Scala 2.13 will be released and also Play will be published for Scala 2.13 - meaning also play-bootstrap can then also published for Scala 2.13 as well.

[2019-05-31 05:45] adrianhurt commented on #115
Yes, I think it’s better to wait as well. I’d only update something to fix bugs if needed, but please, test it if you all have time.

[2019-05-31 19:35] adrianhurt commented on #118
Sorry, I suppose it's too late. Could you give some code example?

[2019-05-31 19:36] adrianhurt commented on #116
Hi @woyzeck, did you solved the problem?

[2019-05-31 22:36] woyzeck commented on #116
Hi @adrianhurt , yes, thx to your hints I was able to solve this issue.

[2019-06-01 18:44] #114 closed

[2019-06-01 18:45] adrianhurt commented on #114
Sorry to fix it so late.

[2019-06-01 18:45] #116 closed

[2019-06-01 18:46] #111 closed

[2019-06-01 18:51] adrianhurt commented on #108
Sorry @bharal, I know it's too late. Did you solved the problem?

[2019-06-01 19:03] adrianhurt commented on #113
Sorry @NTPape, I know it's too late... You were right, however, that's an "issue" of Bootstrap, not this plugin. You can solve it easily with a bit of your own CSS, but I suppose you solved this problem a long time ago... 😄

[2019-06-03 07:46] Ard4nis commented on #118
Hi, sorry for the late answer, was at a wedding all weekend.

Here is an example of how we use the plugin in our template:

[code]

And when we return the form with an error this is the resulting html on the page:

[code]
This results in the following being shown:
![image](https://user-images.githubusercontent.com/26376212/58784119-f588d800-85e2-11e9-8692-266fc9e9c154.png)

Where the searchCriteri

[2019-06-04 21:23] adrianhurt commented on #118
Oh, I see. Actually, this is a Bootstrap's bug. You can check it here:
https://github.com/twbs/bootstrap/issues/23454

However, you can see there the class `has-danger`. Play-bootstrap adds automatically the classes `has-success`, `has-warning` and `has-danger` to `.form-group` when corresponding. Then you can add your custom CSS to achieve this case.

By the way, I think to have nested `.form-gro

[2019-06-04 21:29] adrianhurt commented on #118
I'll update the docs to explain that better...

[2019-06-04 21:30] #113 closed

[2019-06-09 18:15] bravegag opened #119 "How do you pass the labelClass class radio-inline to a radioOption?"
I'm still in version `1.4-P26-B3-SNAPSHOT` and would like to have the `radio-inline` `labelClass` set for the radioOptions but can't find the way:

[code]

This is the one I'm using and it has the labelClass:
https://github.com/adrianhurt/play-bootstrap/blob/1.4/play26-bootstrap3/module/app/views/b3/radioOption.scala.html

This is what's generated:

[code]

[2019-06-09 20:41] adrianhurt commented on #119
Hi @bravegag. I can’t try it now but I think it should work something like this:

[code]

[2019-06-09 20:53] bravegag commented on #119
@adrianhurt Perfect! works! muchisimas gracias :)

![Screenshot from 2019-06-09 22-52-08](https://user-images.githubusercontent.com/4385408/59164130-50519080-8b09-11e9-8801-0d3273220aa8.png)

[2019-06-09 22:20] adrianhurt commented on #119
Great!

[2019-06-09 22:20] #119 closed

[2019-06-13 20:27] #108 closed

[2019-06-19 08:42] bjoernhaeuser commented on #115
Scala 2.13 is now released, looking forward to the release of `play-boostrap`. Thank you!

[2019-06-19 10:22] mkurz commented on #115
@bjoernhaeuser yes but we need Play to support Scala 2.13 first

[2019-06-21 17:14] ahjohannessen commented on #115
https://github.com/playframework/playframework/releases/tag/2.7.3

[2019-06-21 17:43] adrianhurt commented on #115
Great! I’ll try to update it this weekend!

[2019-06-21 17:46] mkurz commented on #115
@adrianhurt I will submit a pull request later today with an important fix. Please wait for it, thanks!

[2019-06-22 07:41] mkurz commented on #115
Please don't release yet, as I said will provide a pull request with a bugfix very soon!

[2019-06-22 09:33] adrianhurt commented on #115
Don't worry, I'll wait for it.

[2019-06-22 16:34] mkurz commented on #115
@adrianhurt Done, see #121 (also maybe merge #120 before).
Let me know if you need help. Thanks!

[2019-06-23 17:28] adrianhurt commented on #115
Hi! I've just released versions 1.5-P2X-BX-RC-SNAPSHOT with Play 2.7.3 (note the **-RC**). If you don't see any problem I'll release the final one during the next week.

I've noted the syntax `'foo` for a symbol has been deprecated, so I suppose in the version 1.6 I'll substitute (maybe) every symbol by a simple string.

[2019-06-24 18:14] mkurz commented on #115
@adrianhurt Just did a small test, for me it looks good, thanks!

[2019-06-24 18:28] bjoernhaeuser commented on #115
Same here :) small test was successful! Thanks!

[2019-07-03 22:08] adrianhurt commented on #115
Hey guys! It's finally released

[2019-07-03 22:08] #115 closed

[2019-07-03 22:09] mkurz commented on #115
Thanks!

[2019-07-11 12:23] mvdstam opened #122 "Messages are translated twice"
Hi @adrianhurt,

Thanks for `play-bootstrap`, I really like this package. :+1:

During development of one of my projects with Play 2.7, I've used an custom implementation of the `MessagesApi` so I can see which labels are missing from my application:

[code]

From what I've noticed, some messages seem to be translated at least twice for `<select>` elements. For example:

[code]
This results in the

[2019-07-13 21:01] mkurz commented on #122
@mvdstam Can you provide a pull request?

[2019-07-16 06:43] mvdstam commented on #122
Of course @mkurz: #123 has been opened. Let me know what you think. :+1:

[2019-07-16 07:59] mvdstam commented on #122
I can't get this to work locally for some reason when I do `sbt +publishLocal`. I keep getting compilation errors saying `object b4 is not a member of package views.htm`.

What is the recommended way of doing local development with `play-bootstrap` so I can see if my suggested changes do what they are supposed to do? :smiley:

[2019-07-23 18:45] adrianhurt commented on #122
Hi @mvdstam. Thanks for the PR! It has passed every test like a charm, so I've just merged it and publish the version 1.5.1 as SNAPSHOT. Please check it with your custom `MessagesApi`.

To work with this library in local for development you have to:
1. I recommend changing the version to a custom one in every `build.sbt` file.
_core-play27/build.sbt_
[code]

_play27-bootstrap4/module/build.sbt_
[c

[2019-07-23 19:30] #118 closed

[2019-07-24 06:49] mvdstam commented on #122
Hi @adrianhurt, thanks a lot for your instructions.

I've been testing with the 1.5.1-snapshot for B4/P27 and everything seems to work perfectly. No more superfluous messages being translated, so I can see precisely which messages need translations and which don't. Also less function calls now, so it's all a bit more efficient as well. :smiley:

Can you release and publish `1.5.1`?

[2019-07-28 09:04] mkurz commented on #122
@adrianhurt `activator` is end of life already. You should use `sbt` instead.

[2019-07-28 09:42] mvdstam commented on #122
Hi @adrianhurt, can you please release and publish a non-snapshot version? Thanks!

[2019-08-01 22:09] adrianhurt commented on #122
Hi! I've just released the non-snapshot version.

[2019-08-01 22:09] #122 closed

[2019-08-02 06:21] mvdstam commented on #122
Thank you @adrianhurt, cheers.

[2019-09-09 14:56] mkurz commented on #115
That is what Play itself will do as well: See https://github.com/playframework/playframework/issues/9447 and https://github.com/playframework/playframework/pull/9488. Therefore `'key -> "value"` will become `"key" -> "value"`...

[2019-09-25 21:14] fooblahblah commented on #115
Any updates on the Symbol deprecation thing? I'm trying to get our app compiling under 2.13.1 and the last issue is the Play template using literal Symbols. I migrated to the `Symbol("foo")` syntax, but get some implicit errors, but maybe it's unrelated?

[code]

[2019-09-25 21:29] mkurz commented on #115
@fooblahblah No updates yet. I think the implicit error you face is not related to symbols.

[2019-09-25 21:30] fooblahblah commented on #115
Thanks @adrianhurt. I'm starting to think the same. I need to figure out why these usages started breaking when I changed versions of the library.

[2019-10-17 19:07] cocomo commented on #110
Experienced the same but could resolve b4 after i restarted IntelliJs sbt console.

[2019-11-20 11:15] mkurz commented on #115
See #124 for the symbol issue.

[2019-12-20 13:31] mkurz opened #125 "Play 2.8"
Play 2.8 released:
https://blog.playframework.com/play-2-8-0-released/

@adrianhurt Please merge #124 before working on 2.8 support (so when copying the directories the fix is included already in the new folder structure)

[2020-01-20 13:54] mkurz commented on #125
Ping @adrianhurt

[2020-02-06 22:15] mkurz commented on #125
Hey @adrianhurt, can you cut the release?

[2020-02-10 09:32] ahjohannessen commented on #125
@adrianhurt It would be nice to get a new release that supports play 2.8 :)

[2020-03-02 16:04] slugmandrew commented on #125
@adrianhurt Let us know if there is anything you need help with!

[2020-03-10 15:15] aljchristensen opened #127 "Checkbox error text is always hidden"
Because of the way the Bootstrap style rules are set up, the way checkbox elements are currently structured results in the associated error text remaining hidden.

Right now, the resulting HTML structure when a checkbox form element has an associated error is:

[code]

but it needs to be

[code]

That is, the `invalid-feedback` div needs to be a subsequent sibling of the `is-invalid` input.

The r

[2020-04-10 21:41] mkurz commented on #125
Ping @adrianhurt, I hope you are ok!

[2020-04-11 18:30] adrianhurt commented on #125
Sorry for my unjustifiable delay! I've just merged it. I will also merge #126 and publish a snapshot

[2020-04-11 21:25] adrianhurt commented on #125
Hi again! I've just published the versions:
- 1.6-P28-B4-SNAPSHOT
- 1.6-P28-B3-SNAPSHOT
- 1.6-P27-B4-SNAPSHOT
- 1.6-P27-B3-SNAPSHOT
- 1.6-P26-B4-SNAPSHOT
- 1.6-P26-B3-SNAPSHOT

And sorry again for the delay!! I'll try to update the docs as soon as possible

[2020-04-11 21:28] mkurz commented on #125
Thanks you very much @adrianhurt! Great work! I will use try the snapshots asap. Have a nice weekend!

[2020-04-23 13:51] mkurz commented on #125
@adrianhurt Can you release the final version? I tested the snapshot in our projects, everything looks perfect. Actually there are no changes, besides #124.
Can you also merg #128 before cutting the release? Thanks!

[2020-04-24 21:07] adrianhurt commented on #125
Here you have! I forgot to merge it before, so I've just release not only version 1.6 but also 1.6.1 😅
- 1.6.1-P28-B4
- 1.6.1-P28-B3
- 1.6.1-P27-B4
- 1.6.1-P27-B3
- 1.6.1-P26-B4
- 1.6.1-P26-B3

[2020-04-24 22:01] adrianhurt commented on #125
And now the docs are updated as well

[2020-04-25 07:42] mkurz commented on #125
Thanks a lot for you time @adrianhurt!
You just made a small mistake, see #129

[2020-04-25 07:42] #125 closed

[2020-06-29 07:38] martinhansen opened #130 "classes on b4.date not added correctly"
I have upgraded a project from 1.5.1-P27-B4 to 1.6-P28-B4 (along with play 2.7.3 -> 2.8.2), and i see some different behavior on the `b4.date` implementations. When adding a class to the `b4.date` its added to the `form-group` in 1.5.1, and in 1.6.x it goes on the input field itself. Docs/migration guide doesnt mention anything about this change.

What is the expected behavior?

scala code:
[code]

[2020-06-29 08:14] martinhansen commented on #130
I found the documentation mentioning the underscored "_class" attribute, and noticed my older version actually had the underscored _class as well. No issue, will close this.

[2020-06-29 08:14] #130 closed

[2020-07-07 08:13] cyrus07424 opened #131 "How to set data-browse attribute at custom-file input"
I wanna change "Browse" text at custom-file input's label.

how to set "data-browse" attribute?

https://getbootstrap.com/docs/4.5/components/forms/#translating-or-customizing-the-strings-with-html

[2020-07-08 17:06] adrianhurt commented on #131
Sorry @cyrus07424 , but the file helper does not allow add custom attributes to the label tag. You can try using SCSS (https://getbootstrap.com/docs/4.5/components/forms/#translating-or-customizing-the-strings-with-scss) or creating your own helper (https://adrianhurt.github.io/play-bootstrap/1.6-P28-B4/extend-it/)

[2020-07-08 17:32] adrianhurt commented on #127
Sorry @aljchristensen  for the delay. I know it's too late, but at least the response is here 😓

You're right, I should document this known issue. The problem here is the library tries to have a consistent structure for the majority of the cases. The field constructor is who is charge of handling validations, feedback and helpers. And in that case the input itself is wrapped by a div, so this HTML

[2020-07-22 07:54] cyrus07424 commented on #131
I see. Thank you.

[2020-07-22 08:08] cyrus07424 opened #132 "Cannnot select default option in select input"
In `@b4.select`, `'_default` options always appear as `disabled="disabled"`. So I cannot select default option.
I want to select empty value as default.
https://github.com/adrianhurt/play-bootstrap/blob/develop/play26-bootstrap4/module/app/views/b4/selectWithContent.scala.html

In "With default and Pears as value" of this example, It looks selectable default value.
https://adrianhurt.github.io/pla

[2020-07-22 08:12] cyrus07424 commented on #132
I think '_default argument should not be disabled. I prefer "disabled" attribute is optional.
https://github.com/adrianhurt/play-bootstrap/issues/82

[2020-09-08 05:43] martinhansen opened #133 "using custom file input, .invalid-feedback not shown."
When using a custom file input, errors on this field is now shown.

`@b4.file(form("logo"), Symbol("id") -> "logo", Symbol("_label") -> "Logo", Symbol("placeholder") -> "Select File", Symbol("_custom") -> true, Symbol("accept") -> "image/*")
`
It looks like the `.invalid-feedback` div is placed next to the, `.custom-file` wrapper div, and not next to the input field, and then bootstrap css is not

[2020-12-07 20:36] mkurz opened #134 "Support for Bootstrap 5"
Hey @adrianhurt,

with Bootstrap 5 Beta 1 there shouldn't be any more breaking chances to the Bootstrap 5 API. See https://blog.getbootstrap.com/2020/12/07/bootstrap-5-beta-1/
Do you plan to add Bootstrap 5?

Thanks!

[2021-03-01 05:25] cyrus07424 commented on #133
I have same problem

[2021-03-25 17:02] mkurz commented on #134
@adrianhurt Beta 3 is out, will you work on this?

[2021-08-22 20:52] mkurz commented on #134
@adrianhurt Will you continue to maintain play-bootstrap?

[2021-08-29 10:46] adrianhurt commented on #134
Hi Mathias, sorry for the late reply. I think I will not continue to
maintain the library. I'm not using Play for last 2 years and I'm not sure
if ithe library is still interesting nowadays.... Sorry!

On Sun, 22 Aug 2021 at 22:53, Matthias Kurz ***@***.***>
wrote:

[2022-01-26 19:59] alexdarling opened #135 "Option to handle translated strings as HTML"
When setting errors on a form, HTML characters are escaped, which means errors messages can't have formatting:

[code]

<img width="303" alt="image" src="https://user-images.githubusercontent.com/8094985/151235554-6505e9f5-2419-497b-9bd3-a6a2dea7d2d0.png">

The accepted types for `_error` don't include an Html object, so wrapping this in `@Html()` isn't legal.

Is there a workaround in order to ad

[2022-09-06 12:58] #131 closed